.article-widget
    h3.article-widget__title Популярные статьи
    +widget-item("22.05.2023", "Перспективы уголовной ответственности")
    +widget-item("22.05.2023", "Перспективы уголовной ответственности")
    +widget-item("22.05.2023", "Перспективы уголовной ответственности")
    +widget-item("22.05.2023", "Перспективы уголовной ответственности")



            
        
        