.article-widget
    h3.article-widget__title Популярные статьи
    .widget-card 
        .widget-card__img 
        .widget-card__info
            .widget-card__date 22.05.2023
            h4.widget-card__title Перспективы уголовной ответственности
            a(href="#!").widget-card__link
                span Читать далее
                svg.svg-arrow-right-long
                    use(href="./img/spriteSvg.svg#svg-arrow-right-long")



            
        
        