.aside-menu
    .aside-menu-top
        .aside-menu__logo 
            a(href="#!").menu-logo-img
                img(src="./img/logo.webp", alt="logo")
            a(href="#!").menu-logo-text АНО Центр защиты бизнеса  
        .aside-menu__social
            a(href="#!").aside-menu__social-item
                img(src="./img/socials/whatsapp.svg")
                span WhatsApp
            a(href="#!").aside-menu__social-item
                img(src="./img/socials/tg.svg")
                span Telegram
        a(href="tel:89998889090").aside-menu-tel +7 999 888 90 09   
    ul.nav__list
        li
            a(href="index.html") Главная
        li
            a(href="about_us.html") О нас
        li
            a(href="#!") Образовательные программы
        li
            a(href="#!") Сервисы
        li
            a(href="#!") Статьи
        li
            a(href="#!") Команда
        li
            a(href="#!") Кейсы
        li
            a(href="#!") Новости