.swiper.board-slider
    .swiper-wrapper
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
    .swiper-pagination