.swiper.board-slider
    .swiper-wrapper
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        //- .swiper-slide
        //-     +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        //- .swiper-slide
        //-     +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
    .swiper-pagination
    //- .program-slider-group
    //-     .pagination__divider
    //-     .program-slider-controls
    //-         button.program-slider-prev
    //-             img(src="./img/icons/prev.svg", alt="Back")
    //-         .swiper-pagination
    //-         button.program-slider-next
    //-             img(src="./img/icons/next.svg", alt="Next")