.swiper.cases-slider
    .swiper-wrapper
        .swiper-slide
            +case("Almost 60% of searches originate from mobile version", "There are com  find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take")
        .swiper-slide
            +case("Almost 60% of searches originate from mobile version", "There are com  find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take")
        .swiper-slide
            +case("Almost 60% of searches originate from mobile version", "There are com  find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take")
    .program-slider-group.center
        .program-slider-controls.cases-controls
            button.program-slider-prev.prevXl
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.program-slider-next.nextXl
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")
    .swiper-pagination