.contact-form-mob-block
    h2.sign-up-title Контактная информация 
    form(action="" class="contact-form-mob")
        .contact-form-item
            .form-group-title Имя
            .form-group
                input(class="form-input form-input--contacts" type="text" name="name")
        .contact-form-item
            .form-group-title Телефон
            .form-group
                input(class="form-input form-input--contacts" type="text" name="tel" placeholder="+7 (___)___-__-__")
        .contact-form-item
            .form-group-title Фамилия
            .form-group
                input(class="form-input form-input--contacts" type="text" name="surname")
        .contact-form-item
            .form-group-title Отчество
            .form-group
                input(class="form-input form-input--contacts" type="text" name="middle-name") 
        .contact-form-item
            .form-group-title Почта
            .form-group
                input(class="form-input form-input--contacts" type="text" name="email")
        .contact-form-item
            .form-group-title Город
            .form-group
                .dropdown
                    button.dropdown__button.dropdown__button--contacts 
                        span Не выбран
                    ul.dropdown__list
                        li.dropdown__list-item(data-value="item1") Москва
                        li.dropdown__list-item(data-value="item2") Санкт-Петербург
                        li.dropdown__list-item(data-value="item3") Город1
                        li.dropdown__list-item(data-value="item4") Город2
                        li.dropdown__list-item(data-value="item5") Город3
                    input(type="text" name="selet-category" value="" class="dropdown__input-hidden")

