// course
.course
    h4.course__title Медиация в жизни, бизнесе и с органами государственной власти
    p.course__old-price #[span 82 200] P
    p.course__price 62 200 
    .course__item
        .course__subtitle Cтарт курса
        p 25.09.2023
    .course__item
        .course__subtitle Продолжительность
        p 264 ак.ч. (3 месяца)
    .course__item
        .course__subtitle Формат обучения
        p Онлайн
    .course__item
        .course__subtitle Документ
        p Удостоверение о повышении квалификации