.swiper.documents-slider
    .swiper-wrapper
        .swiper-slide
            +document
        .swiper-slide
            +document
        .swiper-slide
            +document
        .swiper-slide
            +document
        .swiper-slide
            +document
        .swiper-slide
            +document