.swiper.news-slider
    .swiper-wrapper
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
    .swiper-pagination