.swiper.news-slider
    .swiper-wrapper
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        .swiper-slide
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
    .program-slider-group
        .pagination__divider
        .program-slider-controls
            button.program-slider-prev
                img(src="./img/icons/prev.svg", alt="Back")
            .swiper-pagination
            button.program-slider-next
                img(src="./img/icons/next.svg", alt="Next")