.pagination-wrapper 
    .pagination__divider 
    .pagination 
        a(href="#").pagination__link.pagination-prev
            svg.svg-prev
                use(href="./img/spriteSvg.svg#svg-prev")
        .pagination__link-active 1
        a(href="#").pagination__link 2
        .pagination__ellipsis ... 
        a(href="#").pagination__link 8
        a(href="#").pagination__link.pagination-next
            svg.svg-next
                use(href="./img/spriteSvg.svg#svg-next")