.pagination
    .pagination__divider 
    .pagination__prev
        a(href="#").pagination__icon-link
            svg.svg-prev
                use(href="./img/spriteSvg.svg#svg-prev")      
    .pagination__current
        .pagination__current-active 1 
        a(href="#").pagination__current-link 2
        .pagination__current-ellipsis ... 
        a(href="#").pagination__current-link 8 
    .pagination__next 
        a(href="#").pagination__icon-link
            svg.svg-next
                use(href="./img/spriteSvg.svg#svg-next")