.swiper.partners-slider
    .swiper-wrapper
        .swiper-slide
            img(src="./img/partners/01.webp" alt="logo")
        .swiper-slide
            img(src="./img/partners/02.webp" alt="logo")
        .swiper-slide
            img(src="./img/partners/03.webp" alt="logo")
        .swiper-slide
            img(src="./img/partners/04.webp" alt="logo")
        .swiper-slide
            img(src="./img/partners/05.webp" alt="logo")
