.swiper.persons-slider
    .swiper-wrapper
        .swiper-slide
            +person("Бby Ib Xty", "Руководитель практики")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов ghjhtrnjh gj djcgbntkmyjq hf,jns")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .swiper-slide
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
    .swiper-pagination