.swiper.persons-slider
    .swiper-wrapper
        .swiper-slide
            +person("Бby Ib Xty", "Руководитель практики")
        .swiper-slide
            .person-card
                .person-card__img
                .person-card-row 
                    .person-card__label Работа в ИТ
                    .person-card__label Работа в ИТ
            h4.person-card__name Белоусов Владимир Онисимович
            p.person-card__position Руководитель практики решение вопросов
        .swiper-slide
            .person-card
                .person-card__img
                .person-card-row 
                    .person-card__label Работа в ИТ
            h4.person-card__name Белоусов Владимир Онисимович
            p.person-card__position Руководитель практики решение вопросов
        .swiper-slide
            .person-card
                .person-card__img
                .person-card-row 
                    .person-card__label Работа в ИТ
                    .person-card__label Работа в ИТ
                    .person-card__label Работа в ИТ
            h4.person-card__name Белоусов Владимир Онисимович
            p.person-card__position Руководитель практики решение вопросов
    .swiper-pagination