// price-form
.price-form 
    .price-form-title Записаться на обучение
    form(action="mail.php" class="contact-form")
        .form-item
            input(class="form-input" type="text" name="name" placeholder="Имя")
        .form-item
            input(class="form-input" type="text" name="tel" placeholder="Телефон")
        .form-item
            input(class="form-input" type="text" name="email" placeholder="Почта")
        .form-item
            button(type="submit" class="btn") Оставить заявку
        .form-item
            a(href="sign-up.html").btn-subscribe Записаться онлайн
    p.service-form-privacy 
        | Нажимая на кнопку, Вы даёте согласие на обработку своих персональных данных в соответствии c 
        a(href="#!") Политикой в отношении обработки персональных данных
