// price-card
.price-card 
    .price-card-circle 
        p.price-card__discount Скидка 
        p.price-card__off -30%
        p.price-card__discount-term До 22 сентября
    .price-card-tarif 
        h2.price-card__title Стоимость обучения
        .price-card__old-price 82 200 #[span P]
        .price-card__new-price 62 200 P
        p.price-card__timing Срок обучения — 8 месяцев
    .price-card-diploma 
        p.price-card__study Обучение с выдачей диплома
        .price-card__installment-pay #[span.from от] #[span.pay 6 220 P]
        p.price-card__installment в месяц по рассрочке
        p.price-card__installment-zero Рассрочка 0% без первого взноса и переплат
    .price-card-plan 
        p.price-card__plan-title В стоимость входит:
        ul.price-card__plan 
            li 
                p Обратная связь от практикующих дизайнеров
            li 
                p 169 видеолекций и 87 практических заданий
            li 
                p Обратная связь от практикующих дизайнеров
    a(href="#!").price-card__link Показать еще
