.swiper.programs-slider
    .swiper-wrapper
        .swiper-slide
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        .swiper-slide
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        .swiper-slide
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        .swiper-slide
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
            +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //- .swiper-slide
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //- .swiper-slide
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //- .swiper-slide
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //- .swiper-slide
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
    .swiper-pagination
    