.swiper.reviews-slider
    .swiper-wrapper
        .swiper-slide
            +review("Казаковцева Нина Александровна")
                p Я хочу поделиться своими впечатлениями о курсе "Налоговая безопасность бизнеса. Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его практическая направленность. Материалы курса были усилены реальной судебной практикой, а также  примерами и ситуациями из бизнес-практики, что позволило мне лучше осознать и понять принципы налоговой безопасности. Комплексное изложение материала охватывало различные аспекты налоговой Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его
        .swiper-slide
            +review("Казаковцева Нина Александровна")
                p Я хочу поделиться своими впечатлениями о курсе "Налоговая безопасность бизнеса. Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его практическая направленность. Материалы курса были усилены реальной судебной практикой, а также  примерами и ситуациями из бизнес-практики, что позволило мне лучше осознать и понять принципы налоговой безопасности. Комплексное изложение материала охватывало различные аспекты налоговой Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его
        .swiper-slide
            +review("Казаковцева Нина Александровна")
                p Я хочу поделиться своими впечатлениями о курсе "Налоговая безопасность бизнеса. Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его практическая направленность. Материалы курса были усилены реальной судебной практикой, а также  примерами и ситуациями из бизнес-практики, что позволило мне лучше осознать и понять принципы налоговой безопасности. Комплексное изложение материала охватывало различные аспекты налоговой Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его
        .swiper-slide
            +review("Казаковцева Нина Александровна")
                p Я хочу поделиться своими впечатлениями о курсе "Налоговая безопасность бизнеса. Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его практическая направленность. Материалы курса были усилены реальной судебной практикой, а также  примерами и ситуациями из бизнес-практики, что позволило мне лучше осознать и понять принципы налоговой безопасности. Комплексное изложение материала охватывало различные аспекты налоговой Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его
    .program-slider-group.center
        .program-slider-controls.cases-controls
            button.program-slider-prev.prevXl
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.program-slider-next.nextXl
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")