// services - slider
.swiper.services-slider
    .swiper-wrapper
        .swiper-slide
            .service-card-wrapper
                +service("White label web development")
                +service("White label website maintenance")
                +service("White label web development")
                +service("White label eCommerce development")
        .swiper-slide
            .service-card-wrapper
                +service("White label SEO service")
                +service("White label web development")
                +service("White label website maintenance")
                +service("White label eCommerce development")
        .swiper-slide
            .service-card-wrapper
                +service("White label SEO service")
                +service("White label web development")
                +service("White label website maintenance")
                +service("White label eCommerce development")
    .swiper-pagination