.swiper.services-slider
    .swiper-wrapper
        .swiper-slide
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
        .swiper-slide
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
        .swiper-slide
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
            +service("Руководитель практики решение вопросов")
    .swiper-pagination