.share-block
    svg.svg-share 
        use(href="./img/spriteSvg.svg#svg-share")
    span Поделиться:
    svg.svg-google 
        use(href="./img/spriteSvg.svg#svg-google")
    svg.svg-youtube 
        use(href="./img/spriteSvg.svg#svg-youtube")
    svg.svg-linkedin 
        use(href="./img/spriteSvg.svg#svg-linkedin")
    svg.svg-twitter
        use(href="./img/spriteSvg.svg#svg-twitter")
