.share-block
    .share-block-item
        svg.svg-share 
            use(href="./img/spriteSvg.svg#svg-share")
        span Поделиться:
    a(href="#!").share-block-item
        svg.svg-google 
            use(href="./img/spriteSvg.svg#svg-google")
    a(href="#!").share-block-item
        svg.svg-youtube 
            use(href="./img/spriteSvg.svg#svg-youtube")
    a(href="#!").share-block-item
        svg.svg-linkedin 
            use(href="./img/spriteSvg.svg#svg-linkedin")
    a(href="#!").share-block-item
        svg.svg-twitter
            use(href="./img/spriteSvg.svg#svg-twitter")
