// sign-up-contacts
.sign-up-contacts
    h2.sign-up-title Контактная информация
    form(action="mail.php" class="signup-contact-form")
        .form-group
            label.form-group-title Имя
            input(class="form-input form-input--contacts" type="text" name="name")
        .form-group
            label.form-group-title Фамилия
            input(class="form-input form-input--contacts" type="text" name="surname")
        .form-group
            label.form-group-title Отчество
            input(class="form-input form-input--contacts" type="text" name="middle-name")
        .form-group
            label.form-group-title Телефон
            input(class="form-input form-input--contacts" type="text" name="tel" placeholder="+7 (___)___-__-__")
        .form-group
            label.form-group-title Город
            .dropdown
                button.dropdown__button.dropdown__button--contacts 
                    span Не выбран
                ul.dropdown__list
                    li.dropdown__list-item(data-value="item1") Москва
                    li.dropdown__list-item(data-value="item2") Санкт-Петербург
                    li.dropdown__list-item(data-value="item3") Город1
                    li.dropdown__list-item(data-value="item4") Город2
                    li.dropdown__list-item(data-value="item5") Город3
                input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
        .form-group
            label.form-group-title Почта
            input(class="form-input form-input--contacts" type="text" name="email")