// social-icons
.social-icons-fill
    a(href="#!").social-icons-fill-item
        svg.svg-tg-fill 
            use(href="./img/spriteSvg.svg#svg-tg-fill")
    a(href="#!").social-icons-fill-item
        svg.svg-vk-fill 
            use(href="./img/spriteSvg.svg#svg-vk-fill")
    a(href="#!").social-icons-fill-item
        svg.svg-ok-fill 
            use(href="./img/spriteSvg.svg#svg-ok-fill")
    a(href="#!").social-icons-fill-item
        svg.svg-youtube-fill 
            use(href="./img/spriteSvg.svg#svg-youtube-fill")