.swiper.teachers-slider
    .swiper-wrapper
        .swiper-slide
            +teacher("Марина Проскурина", "Графический дизайнер, руководитель проектов")
                p.teacher-card__text Опыт в дизайне более 15 лет
                p.teacher-card__text Работает графическим дизайнером, занимается разработкой визуальной айдентики (фирменного стиля), созданием логотипов и иллюстраций, дизайном рекламных материалов и разработкой рекламных концепций. Регулярно проводит мастер-классы, читает лекции, выступает на вебинарах.
        .swiper-slide
            +teacher("Марина Проскурина", "Графический дизайнер, руководитель проектов")
                p.teacher-card__text Опыт в дизайне более 15 лет
                p.teacher-card__text Работает графическим дизайнером, занимается разработкой визуальной айдентики (фирменного стиля), созданием логотипов и иллюстраций, дизайном рекламных материалов и разработкой рекламных концепций. Регулярно проводит мастер-классы, читает лекции, выступает на вебинарах.
        .swiper-slide
           +teacher("Марина Проскурина", "Графический дизайнер, руководитель проектов")
                p.teacher-card__text Опыт в дизайне более 15 лет
                p.teacher-card__text Работает графическим дизайнером, занимается разработкой визуальной айдентики (фирменного стиля), созданием логотипов и иллюстраций, дизайном рекламных материалов и разработкой рекламных концепций. Регулярно проводит мастер-классы, читает лекции, выступает на вебинарах.
    .program-slider-group.center
        .program-slider-controls.cases-controls
            button.program-slider-prev.prevXl
                svg.svg-prev
                    use(href="./img/spriteSvg.svg#svg-prev")
            button.program-slider-next.nextXl
                svg.svg-next
                    use(href="./img/spriteSvg.svg#svg-next")
    .swiper-pagination