.swiper.thankyou-programs-slider
    .swiper-wrapper
        .swiper-slide
            +thankyou-program("Название программы название", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will", "29 сентября")
        .swiper-slide
            +thankyou-program("Название программы название", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will", "29 сентября")
        .swiper-slide
            +thankyou-program("Название программы название", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will", "29 сентября")
        .swiper-slide
            +thankyou-program("Название программы название", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will", "29 сентября")
        .swiper-slide
            +thankyou-program("Название программы название", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will", "29 сентября")