.about {
    padding-top: 70px;
}

.about__info {
    color: #8E8E8E;
    font-size: 14px;
    line-height: 18px;
}

.title-group--center {
    margin-bottom: 15px;
}

.title-desc {
    max-width: 730px;
    margin-bottom: 42px;
}

.title-desc p {
    text-align: center;
    color: #9497A1;
    font-size: 20px;
    line-height: 1.65;
}

.title-desc p + p {
    margin-top: 20px;
}

.about__img {
    width: 100%;
    margin-bottom: 111px;
    height: 590px;
    background-color: #D0D0D0;
}

.about__content {
    position: relative;
    padding-left: 66px;
}

.about__content p {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28; 
}

.about__content p + p {
    margin-top: 20px;
}

.about__content::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 8px;
    background: var(--accent-color);
    border-radius: 0 8px 8px 0;

    @media(max-width: 797px) {
        width: 0;
    }
}