.about {
    padding-top: 124px;
    padding-bottom: 245px;
}

.about__title {
    text-align: center;
    margin-bottom: 94px;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__text p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}