.advantages {
    padding: 78px 0;

    @include mediaLaptop {
        padding-top: 60px;
        padding-bottom: 32px;
    }
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages-content {
    padding-top: 22px;
    width: 720px;
    gap: 100px;

    @include mediaTablet {
        width: 600px;
    }
}

.section-title.title-program {
    margin-bottom: 23px;
    font-weight: 700;
    line-height: 58px;

    @include mediaTablet {
        font-weight: 800;
        line-height: 1;
    }
}

.advantages-text {
    font-size: 20px;
    line-height: normal;

    @include mediaTablet {
        display: none;
    }
}

.advantages-text + .advantages-text {
    margin-top: 15px;
}

.advantages-text-mob {
    display: none;
    font-size: 14px;
    line-height: normal;

    @include mediaTablet {
        display: block;
    }
}

.advantages-text-mob + .advantages-text-mob {
    margin-top: 8px;
}
