.advantages {
    padding: 78px 0;

    @include mediaLaptop {
        padding-top: 60px;
        padding-bottom: 32px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(78);
        padding-bottom: k(78);
    }
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages-content {
    padding-top: 22px;
    width: 720px;
    gap: 100px;

    @include mediaTablet {
        width: 600px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(22);
        width: 38.5vw;
        gap: k(100);
    }
}

.section-title.title-program {
    margin-bottom: 23px;
    font-weight: 700;
    line-height: 58px;

    @include mediaTablet {
        font-weight: 800;
        line-height: 1;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(23);
        line-height: k(58);
    }
}

.advantages-text {
    font-size: 20px;
    line-height: normal;

    @include mediaTablet {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
    }
}

.advantages-text+.advantages-text {
    margin-top: 15px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(15);
    }
}

.advantages-text-mob {
    display: none;
    font-size: 14px;
    line-height: normal;

    @include mediaTablet {
        display: block;
    }
}

.advantages-text-mob+.advantages-text-mob {
    margin-top: 8px;
}