.articles {
    padding-top: 134px;

    @include mediaTablet {
        padding-top: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: 2.98vw;
    }
}

.articles-content {
    display: flex;
    gap: 36px;

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(36);
    }
}

.articles-form {
    display: flex;
    flex-direction: column;

    @media (max-width: 899px) {
        display: none;
    }
}


.articles-form.custom-form .form-group {
    position: static;
    z-index: unset;
}

.articles-list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(30);
    }
}

.articles-list {
    padding-left: 35px;
    border-left: 1px solid #DEE1E7;

    @media (max-width: 899px) {
        border: none;
        padding-left: 0px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-left: k(35);
    }
}

.articles-list .article-card:not(:last-child) {
    margin-bottom: 32px;

    @media (max-width: 390px) {
        margin-bottom: 9px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(32);
    }
}

.articles .btn-icon-mob {
    display: none;

    @media (max-width: 899px) {
        display: inline-flex;
        margin-top: 35px;
    }
}

.articles .title-group {
    @media (max-width: 483px) {
        display: none;
    }

    @media (max-width: 432px) {
        padding-top: 58px;
    }
}

.articles .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @media (max-width: 483px) {
        display: flex;
    }
}

.articles .modal-window {
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-cards-hide {
    display: none !important;
}

.article-cards-hide.active {
    display: block !important;
}

.articles .dropdown__button {
    @media (min-width: 1920px) {
        width: 540px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(540);

    }
}

.articles .back-title {
    @media(min-width:1400px) and (max-width: 1919px) {
        left: 71px;

    }
}