.articles-content {
    display: flex;
    gap: 36px;
}

.articles-form {
    display: flex;
    flex-direction: column;

    @media (max-width: 899px) {
		display: none;
    }
}

.articles-list {
    padding-left: 35px;
    border-left: 1px solid #DEE1E7;
}

.articles-list .article-card:not(:last-child) {
    margin-bottom: 32px;
}

.articles .btn-icon-mob {
    display: none;

    @media (max-width: 899px) {
        display: inline-flex;
        margin-top: 35px;
}
}