.articles-inner {
    padding-top: 60px;
    padding-bottom: 104px;
}

.articles-inner .title-group {
    margin-top: 40px;

    @include mediaMobile {
        display: none;
    }
}

.articles-inner .back-title {
    @media (max-width: 1350px) {
        left: 100px;
    }

    @include mediaTablet {
        left: 40px;
    }

    @include mediaMobile {
        left: 0px;
    }
}

.articles-inner .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @include mediaMobile {
        display: flex;
    }
}

.form-group--articles {
    margin-bottom: 37px;
}

.articles-inner-content .btn--reset {
    margin-top: 20px;
    color: var(--title-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: -0.168px;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:hover {
        color: var(--accent-color);
    }

    &:focus {
        color: var(--accent-color);
    }
}

.articles-inner-content {
    display: flex;
    gap: 52px;
}

.articles-inner-wrapper {
    padding-top: 70px;
}

.articles-inner-wrapper .select-wrapper {
    gap: 10px;
}

.articles-inner-wrapper .filter {
    margin-right: 0;
    margin-left: 0;
}

.form-group--articles-bottom {
    margin-bottom: 49px;
}
