.article {
    padding-bottom: 108px;

    // @media (max-width: 1200px) {
    //     padding-bottom: 60px;
    // }
}

.single-article h2 {
    margin-bottom: 40px;
    color: #353F4B;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.241px;

    @media (max-width: 1200px) {
        margin-bottom: 12px;
        color: #292D33;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.091px;
    }
}

.single-article p {
    color: #353F4B;
    font-size: 24px;
    line-height: 1.4;

    @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 1.3;
    }
}

.single-article p+p {
    margin-top: 34px;

    @media (max-width: 1200px) {
        margin-top: 12px;
    }
}

.bottom-tags-mob {
    display: none;

    @media (max-width: 1200px) {
        display: flex;
        margin-top: 8px;
    }
}

.bottom-tags-mob .block-tags {

    @media (max-width: 1200px) {
        display: inline-flex;
    }
}

.bottom-tags-mob .block-tags span {
    color: #9497A1;
    font-size: 14px;
    line-height: 1.3;
}

.bottom-tags-mob .block-tags .svg-tag {
    width: 16px;
    height: 16px;
}