.article-top {
    padding-top: 69px;
    padding-bottom: 50px;

    @media (max-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    @include mediaMobileS {
        padding-top: 24px;
        padding-bottom: 16px;
    }
}

.article-top-content {
    display: flex;
    gap: 20px;
    margin-top: 40px;

    @media (max-width: 1200px) {
        margin-top: 12px;
    }
}

.article__img {

    background-color: #D0D0D0;

    @media (max-width: 1200px) {
        height: 500px;
    }

    @include mediaMobile {
        height: 300px;
    }

    @include mediaMobileS {
        height: 200px;
    }
}

.article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.article-block {
    margin-top: 12px;
    display: flex;
    align-items: center;

}

.article-top-content .article-widget {
    @media (max-width: 1200px) {
        display: none;
    }
}
