.articles {
    padding-top: 134px;

    @include mediaTablet {
        padding-top: 60px;
    }
}

.articles-content {
    display: flex;
    gap: 36px;
}

.articles-form {
    display: flex;
    flex-direction: column;

    @media (max-width: 899px) {
		display: none;
    }
}


.articles-form#custom-form .dropdown__list {
    position: relative;
    z-index: 7;
}

.articles-list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.articles-list {
    padding-left: 35px;
    border-left: 1px solid #DEE1E7;

    @media (max-width: 899px) {
		border: none;
        padding-left: 0px;
    }
}

.articles-list .article-card:not(:last-child) {
    margin-bottom: 32px;

    @media (max-width: 390px) {
       margin-bottom: 9px;
    }
}

.articles .btn-icon-mob {
    display: none;

    @media (max-width: 899px) {
        display: inline-flex;
        margin-top: 35px;
}
}