.article {
    padding-bottom: 108px;
 

    @media (max-width: 1200px) {
        padding-bottom: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-bottom: k(108);
    }
}

.calc-width {
    width: calc(100% - 533px);

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: calc(100% - 26.7vw);
    }
}

.single-article h2 {
    margin-bottom: 40px;
    color: #353F4B;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.241px;

    @media (max-width: 1200px) {
        margin-bottom: 12px;
        color: #292D33;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.091px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
        font-size: k(36);
        line-height: k(44)
    }
}

.single-article p {
    color: #353F4B;
    font-size: 22px;
    line-height: 32px;

    @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 1.3;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(22);
        line-height: k(32);
    }
}

.single-article p+p {
    margin-top: 34px;

    @media (max-width: 1200px) {
        margin-top: 12px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(34);
    }
}

.bottom-tags-mob {
    display: none;

    @media (max-width: 1200px) {
        display: flex;
        margin-top: 20px;
    }

    @include mediaMobile {
        margin-top: 8px;
    }
}

.bottom-tags-mob .block-tags {

    @media (max-width: 1200px) {
        display: inline-flex;
    }
}

.bottom-tags-mob .block-tags span {
    color: #9497A1;
    font-size: 14px;
    line-height: 1.3;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(14);
    }
}

.bottom-tags-mob .block-tags .svg-tag {
    width: 16px;
    height: 16px;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(16);
        height: k(16);
    }
}

.article-widget-mob {
    display: none; 

    @media (max-width: 1200px) {
        margin-top: 60px;
        display: flex;
    }
}



