.articles-inner {
    padding-top: 60px;
    padding-bottom: 104px;

    @include mediaTablet {
        padding-top: 24px;
        padding-bottom: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
    padding-top: k(60);
    padding-bottom: k(104);
    }
}

.articles-inner .title-group {
    margin-top: 40px;

    @include mediaMobile {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
    margin-top: k(40);
    }
}

.articles-inner .back-title {
    @media (max-width: 1350px) {
        left: 100px;
    }

    @include mediaTablet {
        left: 40px;
    }

    @include mediaMobile {
        left: 0px;
    }
}

.articles-inner .title-group-mob {
    display: none;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @include mediaMobile {
        display: flex;
    }
}

.form-group--articles {
    margin-bottom: 37px;

    @media(min-width:1400px) and (max-width: 1919px) {
    margin-bottom: k(37);
    }
}

.articles-inner-content .btn--reset {
    margin-top: 20px;
    color: var(--title-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: -0.168px;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:hover {
        color: var(--accent-color);
    }

    &:focus {
        color: var(--accent-color);
    }

    @media(min-width:1400px) and (max-width: 1919px) {
    margin-top: k(20);
    font-size: k(17);
    }
}

.articles-inner-content {
    display: flex;
    gap: 52px;

    @media (max-width: 1199px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
    gap: k(52);
    }
}

.articles-inner-wrapper {
    padding-top: 70px;

    @media(min-width:1400px) and (max-width: 1919px) {
    padding-top: k(70);
    }
}

.articles-inner-wrapper .current-filters {
    padding-left: 0;
    padding-right: 0;
}

.articles-inner-wrapper .select-wrapper {
    gap: 10px;

    @media(min-width:1400px) and (max-width: 1919px) {
    gap: k(10);
    }
}

.articles-inner-wrapper .filter {
    margin-right: 0;
    margin-left: 0;
}

.form-group--articles-bottom {
    margin-bottom: 49px;

    @media(min-width:1400px) and (max-width: 1919px) {
    margin-bottom: k(49);
    }
}

.articles-inner .articles-list {
    display: none;

    @media (max-width: 1199px) {
        display: block;
        margin-bottom: 32px;
    }
}

.articles-inner .articles-list {
    @media (max-width: 1199px) {
        border-left: none;
    }
}

.articles-inner .article-card {
    @media (max-width: 1199px) {
        padding-bottom: 12px;
        border-bottom: 1px solid #F2F3F7;
    }
}

.articles-inner .btn-show-filters {
    @media (max-width: 1199px) {
        margin-bottom: 20px;
        display: inline-flex;
    }
}

.articles-inner .btn-more-mob {
    display: none;

    @media (max-width: 1199px) {
        display: inline-flex;
    }
}

.articles-inner-block-hide {
    display: none!important;
  }

.articles-inner-block-hide.active {
    display: block!important;
}

.articles-inner .dropdown__button {
    @media (min-width: 1920px) {
        width: 540px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(540);

    }
}

.articles-inner .dropdown__list {
    @media (min-width: 1920px) {
        width: 540px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(540);

    }
}

