.board {
    position: relative;
    padding-top: 109px;

    @include mediaTablet {
        padding-top: 40px;
      }

      @include mediaTablet {
        padding-bottom: 30px;
      }

      @media(max-width: 481px) {
        overflow: hidden;
      }

      @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(109);
      }
}

.board .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.board .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}

.board .back-title {
  @media(min-width:1400px) and (max-width: 1919px) {
    left: 71px;
}
}