.board {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;

    @include mediaTablet {
        padding-top: 40px;
        padding-bottom: 60px;
      }
}

.board .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.board .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}