.cases {
    position: relative;
    padding-top: 100px;

    @include mediaTablet {
        padding-top: 40px;
      }

    @include mediaMobile {
        padding-top: 8px;
    }
}

.container.container-cases {
    @include mediaMobile {
        padding-left: 0;
        padding-right: 0;
    }
}

.section-title.cases {
    @include mediaMobile {
        padding-left: 15px;
    }
}

.title-group.cases {
    @include mediaMobile {
        padding-top: 8px;
    }
}

.back-title.cases {
    @media (max-width: 460px) {
        padding-left: 20px;
      }
}

.cases .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.cases .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}