.cases-inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.label-wrapper {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.cases-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;

    border-radius: 5px;
    border: 1.25px solid rgba(98, 108, 119, 0.16);

    color: #4D4D4D;
    font-size: 16px;
    line-height: 25px;
    flex-shrink: 0;
}

.select-wrapper {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
}

.filter {
    margin-right: 13px;
    margin-left: 10px;
}

p.selected {
    color: #2C2762;
    font-size: 16px;
    line-height: normal;
}

.filter {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    gap: 12px;
    flex-shrink: 0;
    height: 32px;
    background: #F8F8FF;
}

.filter span {
    color: #353F4B;
    font-size: 16px;
    line-height: 18px;
}

.close-filter {
    display: flex;
    align-items: center;
}

.close-filter .svg-icon-close {
    width: 16px;
    height: 18px;
}