.cases {
    position: relative;
    padding-top: 100px;

    @include mediaTablet {
        padding-top: 40px;
      }
}

.cases .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.cases .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}