.cases-inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.label-wrapper {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    @include mediaTablet() {
        display: none;
    }
}

.cases-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;

    border-radius: 5px;
    border: 1.25px solid rgba(98, 108, 119, 0.16);

    color: #4D4D4D;
    font-size: 16px;
    line-height: 25px;
    flex-shrink: 0;
}

.select-wrapper {
    margin-bottom: 28px;
    display: flex;
    align-items: center;

    @include mediaTablet() {
        display: none;
    }
}

p.selected {
    color: #2C2762;
    font-size: 16px;
    line-height: normal;
}

p.filter-result {
    color: #2C2762;
    font-size: 16px;
    line-height: normal;

    @include mediaTablet() {
        display: none;
    }
}

.cases-inner .form-wrapper-inner {
    display: none;

    @include mediaTablet() {
        display: block;
        margin-bottom: 24px;
    }
}

.cases-inner-cards {
    margin-top: 53px;

}

.cases-inner-card + .cases-inner-card {
    margin-top: 40px;
}

.cases-inner-cards .cases-card {
    align-items: flex-start;
    padding-bottom: 50px;
}

.cases-inner-cards .cases-card .cases-card-desc {
    display: block;
}

.cases-inner-cards .cases-card .cases-card__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 108px;
}

.cases-inner-cards .cases-card .cases-card__text p + p {
    margin-bottom: 30px;
}

.cases-inner-cards .cases-card .cases-card__text.active {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    min-height: unset;
    margin-bottom: 20px;
}

.cases-inner-cards .cases-card .cases-card__title {
    margin-bottom: 24px;
}

.cases-inner-cards .cases-card .cases-card__text {
    margin-bottom: 8px;
}

