.cases-inner {
    padding-top: 60px;
    padding-bottom: 100px;

    @include mediaTablet {
        padding-top: 32px;
        padding-bottom: 60px;
    }
}

.cases-inner .title-group {
    padding-top: 62px;
}

.label-wrapper {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    @include mediaTablet() {
        display: none;
    }
}

.cases-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;

    border-radius: 5px;
    border: 1.25px solid rgba(98, 108, 119, 0.16);

    color: #4D4D4D;
    font-size: 16px;
    line-height: 25px;
    flex-shrink: 0;

    cursor: pointer;

    &:hover {
        background-color: #F8F8FF;
    }
}

.cases-label-wrapper input{
    width: 0.01em;
    height: 0.01em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .cases-label-wrapper {
    position: relative;
}
  
  .cases-label-wrapper  input:checked +.cases-label{
      background-color: #FFF;
      border: 1.25px solid #353f4b;
  }

.select-wrapper {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
}

.current-filters {
    padding-left: 16px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.current-filters .filter {
    flex-shrink: 0;
} 

.cases-inner .select-wrapper {
    @include mediaTablet() {
        display: none;
    }
}

p.selected {
    color: #2C2762;
    font-size: 16px;
    line-height: normal;
}

p.filter-result {
    color: #2C2762;
    font-size: 16px;
    line-height: normal;

    @include mediaTablet() {
        display: none;
    }
}

.cases-inner .form-wrapper-inner {
    display: none;

    @include mediaTablet() {
        display: block;
        margin-bottom: 32px;
    }
}

.cases-inner-cards {
    margin-top: 53px;

    @include mediaTablet {
        margin-top: 0;
    }

}

.cases-inner-cards .cases-card+.cases-card {
    margin-top: 40px;

    @include mediaTablet {
        margin-top: 16px;
    }
}

.cases-inner-cards .cases-card {
    align-items: flex-start;
    padding-bottom: 50px;

    @include mediaTablet {
        background-color: #fff;
        padding: 0;
    }
}

.cases-inner-cards .cases-card .cases-card-desc {
    display: block;
}

.cases-inner-cards .cases-card .cases-card__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    min-height: 108px;
    height: 108px;

    @include mediaTablet {
        -webkit-line-clamp: 3;
        min-height: 63px;
        height: 63px;
    }
}

.cases-inner-cards .cases-card .cases-card__text p+p {
    padding-top: 30px;

    @include mediaTablet {
        padding-top: 12px;
    }
}

.cases-inner-cards .cases-card .cases-card__text.active {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    min-height: unset;
    margin-bottom: 50px;
    height: auto;

    @include mediaTablet {
        margin-bottom: 25px;
    }

}

.cases-inner-cards .cases-card .cases-card__title {
    margin-bottom: 24px;

    @include mediaTablet {
        margin-bottom: 12px;
    }
}

.cases-inner-cards .cases-card .cases-card__text {
    margin-bottom: 8px;
}

.cases-inner-cards .cases-card .cases-card__close {
    @include mediaTablet {
        bottom: 0px;
        right: 10px;
    }
}

.cases-card .cases-card__close .svg-arrow-up {
    @include mediaTablet {
        width: 20px;
        height: 19px;
    }
}

.cases-inner .btn-more-mob {
    display: none;

    @media (max-width: 1199px) {
        display: inline-flex;
        margin-top: 32px;
    }
}


.cases-inner-cards.js-btn-target {
    display: none!important;
}

.cases-inner-cards.js-btn-target.active {
    margin-top: 16px;
    display: block!important;
}