.cases {
    position: relative;
    padding-top: 100px;

    @include mediaTablet {
        padding-top: 40px;
      }

    @include mediaMobile {
        padding-top: 8px;
    }
}

.container.container-cases {
    @include mediaMobile {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-cases .btn-icon-mob {

    @include mediaMobile {
        margin-left: 15px;
    }

    @media (max-width: 498px) {
        margin-left: 15px;
        margin-right: -15px;
        width: calc(100% - 30px);
        // width: 350px;
    }
}

.container-cases .title-group {
    @include mediaMobile {
        padding-left: 15px;
    }

    @media (max-width: 432px) {
        padding-top: 58px;
    }
}

.container-cases .back-title {
    @include mediaMobile {
        left: 40px;
}

@media (max-width: 432px) {
    left: 15px;
}
}

.cases .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.cases .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}