.cta {
    padding-top: 34px;
    padding-bottom: 40px;

    background: linear-gradient(180deg, rgba(232, 75, 62, 0.1) 0%, rgba(44, 39, 98, 0.1) 100%);
}

.cta-content {
    max-width: 1190px;
    position: relative;
    padding-left: 48px;

    @media(max-width: 797px) {
        padding-left: 0;
    }
}

.cta-content::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0px;
    width: 8px;
    background: var(--accent-color);
    border-radius: 0 8px 8px 0;

    @media(max-width: 797px) {
        width: 0;
    }
}

.cta__title {
    margin-bottom: 27px;
}

.cta__text {
    margin-bottom: 40px;
}

.cta__text p {
    color: #353F4B;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;

    @include mediaTablet {
        font-size: 20px;
    }

    @include mediaMobile {
        font-size: 14px;
        line-height: 22.5px;
    }
}

.cta__text p+p {
    margin-bottom: 30px;
}

.btn-icon-support {

    display: inline-flex;

    padding: 0 24px;
    height: 56px;

    justify-content: center;
    align-items: center;
    column-gap: 8px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(43, 37, 37, 0.12);

    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: var(--btn-hover-color);
    }

    &:focus {
        background-color: var(--btn-focus-color);
    }

}

.btn-icon-support .svg-arrow-right {
    fill: #fff;
    width: 13px;
    height: 11px;
    flex-shrink: 0;
}

.cta .fade-block {
    background: rgba(27, 40, 106, 0.50);
}

.cta .modal-window {
    background: rgba(27, 40, 106, 0.50);

    @media (max-width: 550px) {
        padding: 100px 0;
    }
    @include mediaMobileS {
        width: 100%;
    }
}

.btn-icon-support {
    @media (max-width: 1388px) {
        width: 350px;
    }

    @media (max-width: 498px) {
        width: 100%;
    }
}