.diploma {
    padding-top: 71px;
    padding-bottom: 117px;
    background-color: #F3F4F7;
}

.diploma-wrapper {
    display: flex;
    gap: 67px;
}

.diploma__text {
    margin-bottom: 54px;
    color: #353F4B;
    font-size: 20px;
    line-height: 28px;
}

.diploma__img {
    // width: 556px;
    // height: 
}

.diploma__img img {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
}

