.diploma {
    padding-top: 71px;
    padding-bottom: 117px;
    background-color: #F3F4F7;

    @include mediaTablet {
        background-color: #fff;
    }
}

.diploma-wrapper {
    display: flex;
    gap: 45px;

    @include mediaTablet {
        flex-direction: column;
        gap: 0px;
    }
}

.diploma-content .title-program {
    @include mediaTablet {
        display: none;
    }
}

.diploma__text {
    margin-bottom: 54px;
    color: #353F4B;
    font-size: 20px;
    line-height: 28px;

    @include mediaTablet {
        display: none;
    }

}

.diploma__img {
    width: 556px;
    flex-shrink: 0;

    @media (max-width: 1300px) {
        width: 450px;
    }

    @media(max-width: 1194px) {
        display: none;
    }

    @include mediaTablet {
        display: block;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}

.diploma__img img {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
}

.diploma-content .title-program-mob {
    display: none;
    margin-bottom: 24px;

    @include mediaTablet {
        display: block;
    }
}

.diploma__text-mob {
    display: none;
    margin-bottom: 24px;
    color: #353F4B;
    font-size: 14px;
    line-height: normal;

    @include mediaTablet {
        display: block;
    }
}

.diploma__text-mob a {
    color: #353F4B;
    font-size: 14px;
    line-height: normal;
    text-decoration: underline;

    &:hover {
        color: var(--accent-color);
    }
}

.diploma-content .btn-icon {

    @media (max-width: 1203px) {
        margin-bottom: 30px;
    }

    @include mediaTablet {
        display: none;
    }
}