.documents {
    background-color: #F3F4F7;

    @media (max-width: 1086px){
        padding-bottom: 60px;
    } 

    @include mediaTablet {
        background-color: #fff;
    }
}

.documents-wrapper {
    display: flex;
    gap: 114px;
    overflow: hidden;
    height: 470px;

    @media (max-width: 1200px) {
        gap: 40px;
    }

    @media (max-width: 1086px){
        height: unset;
    }
}

.documents-col {
    @media (max-width: 1086px) {
        width: 100%;
    }
}

.documents-col .title-program-inner {
    margin-top: 50px;
    margin-bottom: 50px;
}


.documents__imgs {
    display: flex;
    column-gap: 20px;
    flex-shrink: 0;

    @media (max-width: 1086px) {
        display: none;
    }
}

.documents__imgs-col:first-child {
    margin-top: -80px;
}

.documents__imgs-col {
    margin-top: -260px;
}

.documents-img {
    width: 260px;
}

.documents-img {
    @media (max-width: 450px) {
        width: 230px;
    }
}

.documents-img img {
    @media (max-width: 450px) {
        width: 230px;
    }
}

.documents-img:not(:last-child) {
    margin-bottom: 20px;
}

