.documents {
    background-color: #F3F4F7;

    @media (max-width: 1086px) {
        padding-bottom: 60px;
    }

    @include mediaTablet {
        background-color: #fff;
    }
}

.documents-wrapper {
    display: flex;
    gap: 114px;
    overflow: hidden;
    height: 470px;

    @media (max-width: 1200px) {
        gap: 40px;
    }

    @media (max-width: 1086px) {
        height: unset;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(114);
        height: k(470);
    }
}

.documents-col {
    @media (max-width: 1086px) {
        width: 100%;
    }
}

.documents-col .btn-icon {
    @include mediaTablet {
        width: 350px;
    }

    @media (max-width: 498px) {
        width: 100%;
    }
}

.documents-col .title-program-inner {
    margin-top: 50px;
    margin-bottom: 50px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(50);
        margin-bottom: k(50);
    }
}


.documents__imgs {
    display: flex;
    column-gap: 20px;
    flex-shrink: 0;

    @media (max-width: 1086px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        column-gap: k(20);
    }
}

.documents__imgs-col:first-child {
    margin-top: -80px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(-80);
    }
}

.documents__imgs-col {
    margin-top: -260px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(-260);
    }
}

.documents-img {
    width: 260px;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(260);
    }
}

.documents-img {
    @media (max-width: 450px) {
        width: 230px;
    }
}

.documents-img img {
    @media (max-width: 450px) {
        width: 230px;
    }
}

.documents-img:not(:last-child) {
    margin-bottom: 20px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(20);
    }
}