.educ-experts {
    padding-top: 217px;

    @include mediaTablet {
        padding-top: 100px;
    }

    @include mediaMobile {
        padding-top: 72px;
    }
}

.educ-experts .title-group {
    @include mediaTablet {
        padding-top: 7px;
    }

    @include mediaMobile {
        margin-bottom: 12px;
    }
}

.educ-experts .section-title {
    color: #2C2762;
    font-size: 61.5px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.613px;

    @include mediaTablet {
        font-size: 30px;
        line-height: 1;
      }
    
      @include mediaMobile {
        font-size: 26px;
      }
}

.educ-experts .back-title {
    left: 110px;
    top: -20px;

    @media (max-width: 1260px) {
        left: 50px;
        font-size: 50px;
      }
    
      @include mediaTablet {
        left: 20px;
        font-size: 40px;
        line-height: 0.8;
      }
    
      @media (max-width: 460px) {
        left: 0px;
      }
}


.educ-experts-row {
    display: flex;
    gap: 58px;
    margin-bottom: 150px;

    @include mediaTablet {
        margin-bottom: 80px;
    }

    @include mediaMobile {
        margin-bottom: 64px;
    }
}

.educ-experts-row:last-child {
    margin-bottom: 0;
}

.educ-experts-row:nth-child(even) {
    flex-direction: row-reverse;
}

.educ-experts__text p {
    color: #565656;
    font-size: 24px;
    line-height: 1.5;

    @include mediaTablet {
        font-size: 20px;
    }

    @include mediaMobile {
        font-size: 14px;
    }
}

.educ-experts__img {
    margin-top: 53px;
    width: 642px;
    background-color: #D0D0D0;
    flex-shrink: 0;

    @media (max-width: 1200px) {
        display: none;
    }
}

.educ-experts__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}