.faq {
    padding-bottom: 147px;

    @include mediaTablet {
        padding-bottom: 40px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-bottom: k(147);
    }
}

.faq .title-group {
    margin-bottom: 10px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(10);
    }
}

.list-header {
    padding: 49px 0;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C3CAD6;

    @media (max-width: 1200px) {
        padding: 40px 0;
        gap: 40px;
    }

    @include mediaTablet {
        padding: 30px 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(49);
        padding-bottom: k(49);
        gap: k(90);
    }
}

.list-header.active {
    border-bottom: none;
    padding-bottom: 0;
}

.list-content {
    padding: 30px 0 49px;
    border-bottom: 1px solid #C3CAD6;
    color: #353F4B;
    font-size: 24px;
    line-height: 1.4;

    @media (max-width: 1200px) {
        font-size: 22px;
    }

    @include mediaTablet {
        padding: 15px 0 30px;
        font-size: 14px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(30);
        padding-bottom: k(49);
        font-size: k(24);
    }
}