.footer-thankyou {
    padding-bottom: 50px;

    @include mediaMobile {
        padding-bottom: 40px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-bottom: k(50);
    }
}

.footer-thankyou__content {
    padding-top: 15px;
    border-top: 1px solid #353F4B;

    @include mediaMobile {
        border-top: none;
        padding-top: 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(15);
    }
}

.footer-thankyou__content p {
    color: #353F4B;
    font-size: 14px;
    line-height: normal;

    @include mediaMobile {
        color: #000;
        font-size: 12px;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(14);
    }
}