.footer {
    padding-top: 34px;
    padding-bottom: 45px;
    background-color: var(--bg-footer-color);
    color: #fff;
    font-size: 20px;
}

.footer a {
    color: #fff;
    transition: color 0.2 ease-in;
    
    &:hover {
        color: var(--accent-color);
    }
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__logo p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts-mail {
    margin-bottom: 18px;
}

.footer__contacts-copyright p {
    color: #757DA7;
    font-size: 14px;
    line-height: 1.3;
}

.footer__widgets {
    display: flex;
    gap: 160px;
}

.footer__social-text {
    margin-bottom: 24px;
}

.footer__social-icons {
    display: flex;
    gap: 16px;
}
