.footer-thankyou {
    padding-bottom: 50px;
  
}

.footer-thankyou__content {
    padding-top: 15px;
    border-top: 1px solid #353F4B;
}

.footer-thankyou__content p {
    color: #353F4B;
    font-size: 14px;
    line-height: normal;
}