.header-banner {
    padding-top: 252px;
    padding-bottom: 160px;
    background-color: #989898;
    background-image: url(".././img/bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



    @include mediaTablet {
        padding-top: 108px;
        padding-bottom: 140px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(252);
        padding-bottom: k(160);
      }

      @media(max-width: 1240px) {
        padding-top: 152px;
    }
}

.header-banner-content {
    max-width: 1240px;

    @media(min-width:1400px) and (max-width: 1919px) {
        max-width: k(1240);
      }

}

.header-banner__title {
    margin-bottom: 47px;

    @include mediaMobile {
        margin-bottom: 36px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(47);
      }
}

.header-banner__text p {
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.3px;

    @include mediaTablet {
        font-size: 20px;
    }

    @include mediaMobile {
        font-size: 14px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(30);
      }
}

.header-banner__text p + p {
    margin-top: 30px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(30);
      }
}