.header-top {
    padding: 40px 0 36px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    flex-shrink: 0;
}

.nav__menu {
    display: flex;
    gap: 25px;
    flex-grow: 1;
    margin-left: 40px;
    margin-right: 10px;

    a {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: normal;
        color: #000;
    }

    a:hover,
    a.active {
        color: var(--accent-green);
    }
}


.nav__social {
    flex-shrink: 0;
}

.nav__tel {
    flex-shrink: 0;
    margin-left: 42px;

    a {
        font-size: 14px;
        color: #000;
        white-space: nowrap;
    }

    a:hover,
    a.active {
        color: var(--accent-green);
    }
}