.header-thankyou {
    padding-top: 20px;

    @include mediaMobile {
        padding-top: 15px;
    }
}

.header-thankyou-content {
    margin-left: -50px;
    display: flex;
    align-items: center;
    gap: 24px;

    @include mediaLaptop {
        margin-left: 0;
    }

    @include mediaMobile {
        gap: 14px;
    }
}

.logo-img-thankyou {
    width: 65px;
    height: 66.5px;

    @include mediaMobile {
        width: 38px;
        height: 38.8px;
    }
}

.logo-text-thankyou {
    color: #0D1B3D;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;

    &:hover {
        color: var(--accent-color);
    }

    @include mediaMobile {
        font-size: 14px;
    }
}