.mediation-advantages {
    padding: 78px 0 173px;

    @include mediaLaptop {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mediaTablet {
        padding-bottom: 32px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(78);
        padding-bottom: k(173);
    }
}

.mediation-advantages .advantages-text {
    font-size: 20px;
    line-height: normal;

    @include mediaTablet {
        font-size: 14px;
        display: block;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
    }
}