.mediation-banner {
    padding-top: 173px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #686A6D 0%, #A8ADB8 100%);
    background-image: url(".././img/program-bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaTablet {
        padding-top: 24px;
        padding-bottom: 40px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(173);
        padding-bottom: k(60);
    }

    @media(max-width: 1240px) {
        padding-top: 70px;
    }
}

.mediation-banner .program-banner-col {
    width: 1097px;
    padding-right: 30px;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(1097);
        padding-right: k(30);
    }
}

.mediation-banner .border {
    padding-right: 0;
}

.mediation-banner .fade-block {
    background: rgba(27, 40, 106, 0.50);
}

.mediation-banner .modal-window {
    background: rgba(27, 40, 106, 0.50);

    @media (max-width: 550px) {
        padding: 100px 0;
    }
    @include mediaMobileS {
        width: 100%;
    }
}

.mediation-banner .btn-subscribe {
    display: none;

    @include mediaMobile {
        display: inline-flex;
        width: 100%;
    }
}