.modules {
    @include mediaTablet {
        padding-bottom: 60px;
    }
}

.modules .title-program {
    margin-bottom: 121px;

    @include mediaLaptop {
        margin-bottom: 60px;
    }

    @include mediaTablet {
        margin-bottom: 32px;
    }
}