.news {
    position: relative;
    padding-top: 87px;

    @include mediaTablet {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.news .btn-icon {
    @media (max-width: 1388px) {
        display: none;
    }
}

.news .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
    }
}

.news .list-group {
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;

    color: #292D33;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;
    flex-wrap: wrap;
}

.list-group .list-group-item {
    position: relative;
    color: #969696;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.list-group .list-group-item.active {
    color: #292D33;
}

.list-group .list-group-item.active::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: var(--accent-color);
    z-index: -1;
}
