.news {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;

    @include mediaTablet {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.news .btn-icon {
    @media (max-width: 1388px) {
        display: none;
    }
}

.news .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
    }
}

.news .list-group {
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;

    color: #292D33;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.list-group li {
    color: #969696;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;

    &:focus, &:active {
        color: #292D33;
    }
}

// .list-group-item {
//     color: #969696;
//     font-size: 20px;
//     font-weight: 600;
//     line-height: 40px;
//     letter-spacing: -0.2px;

//     &:focus, &:active {
//         color: #292D33;
//     }
// }