.news-inner {
    padding-top: 70px;
    padding-bottom: 195px;

    @include mediaTablet {
        padding-bottom: 90px;
    }

    @include mediaMobile {
        padding-bottom: 60px;
    }
}

.news-inner .title-group {

    margin-top: 90px;

    @include mediaLaptop {
        margin-top: 0;
    }

    @include mediaMobileS {
        display: none;
    }
}

.news-inner .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @include mediaMobileS {
        display: flex;
    }
}

.news-inner .btn-more-mob {
    display: none;

    @media (max-width: 1199px) {
        display: inline-flex;
        margin-top: 35px;
    }
}

.news-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @include mediaTablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mediaMobile {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 589px) {
        grid-template-columns: 1fr;
    }
}

.news-inner .list-group {
    @media (max-width: 589px) {
        display: none;
    }
}

.news-inner .list-group {
    @media (max-width: 589px) {
        display: none;
    }
}

.news-inner .form-wrapper-inner {

    display: none;

    @media (max-width: 589px) {
        display: block;
        margin-bottom: 24px;
    }

}