.news {
    position: relative;
    padding-top: 87px;

    @include mediaTablet {
        padding-top: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(87);
      }
}

.news .btn-icon {
    @media (max-width: 1388px) {
        display: none;
    }
}

.news .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
    }

    @include mediaMobile {
        margin-top: 20px;
    }
}

.list-group {
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;

    color: #292D33;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;

    @include mediaTablet {
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        column-gap: k(40);
        margin-bottom: k(40);
        font-size: k(20);
        line-height: k(40);
    }
}

.list-group::-webkit-scrollbar {
    display: none;
}

.list-group .list-group-item {
    position: relative;
    color: #969696;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.2px;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
        line-height: k(40);
    }
}

.list-group .list-group-item.active {
    color: #292D33;
}

.list-group .list-group-item.active::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: var(--accent-color);
    z-index: -1;
}
