.news-inner {
    padding-top: 70px;
    padding-bottom: 195px;
}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-inner .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
    }
}

// .programs-wrapper {
//     display: grid;
//     grid-gap: 20px;
//     grid-template-columns: repeat(4, 1fr);

//     @include mediaTablet {
//         grid-template-columns: repeat(3, 1fr);
//     }

//     @include mediaMobile {
//         grid-template-columns: repeat(2, 1fr);
//     }

//     @include mediaMobileXS {
//         grid-template-columns: 1fr;
//     }
// }