.partners {
    padding-top: 109px;
    padding-bottom: 100px;
}

.partners-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.partners-content img {
    filter: grayscale(0.5); /* W3C */  
}

