.partners {
    padding-top: 109px;
    padding-bottom: 100px;

    @media (max-width: 1350px) {
        padding-bottom: 50px;
    }

    @include mediaTablet {
        padding-top: 60px;
        padding-bottom: 20px;
    }
}

.partners-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.partners-content img {
    filter: grayscale(0.5); /* W3C */  
}

