.partners {
    padding-top: 109px;
    padding-bottom: 100px;

    @media (max-width: 1350px) {
        padding-bottom: 50px;
    }

    @include mediaTablet {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(109);
        padding-bottom: k(100);
      }
}

.partners-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(30);
      }
}

.partners-content img {
    filter: grayscale(0.5); /* W3C */  
}

.partners .title-group {
    @media (max-width: 432px) {
        padding-top: 58px;
    }
}

