.person-inner {
    padding-top: 60px;
    padding-bottom: 100px;

    @media (max-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(60);
        padding-bottom: k(100);
    }
}

.person-content {
    display: flex;
    gap: 30px;
    padding-top: 39px;

    @media (max-width: 1200px) {
        padding-top: 24px;
    }

    @media (max-width: 1023px) {
        padding-top: 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(30);
        padding-top: k(39);
        justify-content: space-between;
    }
}

.person-img {
    width: 540px;
    height: 619px;
    flex-shrink: 0;
    background-color: #D9D9D9;

    @media (max-width: 1200px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(540);
        height: k(619);
    }
}

.person-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.person-img-mob {
    display: none;

    @media (max-width: 1200px) {
        display: block;
        margin-bottom: 16px;
        width: 350px;
        height: 390px;
        flex-shrink: 0;
        background-color: #D9D9D9;
    }

    @include mediaMobileS {
        width: 100%;
    }
}

.person-img-mob img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.person-data {
    max-width: 933px;
    width: 70%;

    @include mediaMobile {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        max-width: k(933);
    }
}

.person-name {
    margin-bottom: 40px;

    color: #2C2762;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;

    @media (max-width: 1200px) {
        font-size: 26px;
        line-height: 1;
        margin-bottom: 13px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
        font-size: k(48);
    }
}

.person-experience-mob {
    display: none;

    @media (max-width: 1200px) {
        display: inline;
        margin-bottom: 16px;
    }
}

.person-experience-mob span {
    color: #353F4B;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(14);
    }
}

p.person-experience-mob {
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(14);
    }
}

.person-activity {
    @media (max-width: 1200px) {
        margin-bottom: 32px;
    }
}

p.person-activity {
    color: #696969;
    font-size: 22px;
    line-height: 30.4px;

    @media (max-width: 1200px) {
        font-size: 14px;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(22);
        line-height: k(30.4);
    }
}

.person-activity span {
    color: #353F4B;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.4px;

    @media (max-width: 1200px) {
        color: #353F4B;
        font-size: 14px;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(22);
        line-height: k(30.4);
    }
}

.person-experience {
    margin-top: 60px;
    margin-bottom: 66px;

    display: flex;
    flex-direction: column;
    padding: 0px 15px 15px;
    width: 446px;
    height: 217px;
    gap: 45px;

    border-radius: 30.4px;
    border: 1px solid rgba(0, 0, 0, 0.10);

    color: #353F4B;

    @media (max-width: 1200px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(60);
        margin-bottom: k(66);
        width: k(446);
        height: k(217);
        gap: k(45);
    }
}

.num {
    color: var(--accent-color);
    font-size: 84px;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(84);
    }
}

.num sup {
    position: relative;
    top: -5px;
    color: #353F4B;
    font-size: 36.9px;
    line-height: 75.2px;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(36.9);
        line-height: k(75.2);
    }
}

.exp-row span {
    font-size: 22.4px;
    line-height: 32px;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(22.4);
        line-height: k(32);
    }
}

.person-list-title {
    margin-bottom: 16px;
    color: #353F4B;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;

    @media (max-width: 1200px) {
        font-size: 20px;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(16);
        font-size: k(36);
        line-height: k(50);
    }
}

.person-list:not(:last-child) {
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        margin-bottom: 32px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(50);
    }
}

.person-list li p {
    color: #353F4B;
    font-size: 20px;
    line-height: 32px;

    @media (max-width: 1200px) {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
        line-height: k(32);
    }
}