.price {
    padding-bottom: 100px;
}

.price-wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 1330px) {
        gap: 10px;
    }

    @include mediaTablet {
        flex-direction: column;
    }

    @media (max-width: 538px) {
        gap: 0px;
    }
}