.price {
    padding-bottom: 100px;

    @media (max-width: 538px) {
        padding-bottom: 60px;
     }
}

.price .container-program {
    @media (max-width: 538px) {
       padding-left: 0;
       padding-right: 0;
    }
}

.price-wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 1330px) {
        gap: 10px;
    }

    @include mediaTablet {
        flex-direction: column;
    }

    @media (max-width: 538px) {
        gap: 0px;
    }
}