.program-banner {
    padding-top: 173px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #686A6D 0%, #A8ADB8 100%);
    background-image: url(".././img/program-bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaTablet {
        padding-top: 24px;
        padding-bottom: 40px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(173);
        padding-bottom: k(60);
    }

    @media(max-width: 1240px) {
        padding-top: 70px;
    }
}

.program-banner-wrapper {
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
        display: none;
    }
}

.program-banner-col {
    width: 627px;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(627);
    }
}

.program-banner-col .breadcrumbs__list {
    margin-bottom: 0;
}

.program-banner__title {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 40px;

    color: #FFF;
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.499px;

    @include mediaTablet {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 28px;
        letter-spacing: -0.216px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(50);
        margin-bottom: k(40);
        font-size: k(61);
    }
}

.border {
    display: inline-block;
    position: relative;
    padding-right: 20px;

    @include mediaTablet {
        padding-right: 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-right: k(20);
    }
}

.border::after {
    content: '';
    bottom: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 5px;
    z-index: -1;

    @include mediaTablet {
        bottom: 4px;
        height: 3px;
        border-radius: 3px;
    }

}

.program-banner__price {
    margin-bottom: 136px;

    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;

    @include mediaTablet {
        margin-bottom: 32px;
        font-size: 18px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(136);
        font-size: k(28);
        line-height: k(34);
    }
}

.program-banner__price span {
    font-weight: 600;
}

.program-banner-btns {
    margin-bottom: 70px;
    display: flex;
    gap: 15px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(70);
        gap: k(15);
    }
}

.program-banner-logos {
    display: flex;
    align-items: center;

    @include mediaTablet {
        margin-top: 32px;
        margin-bottom: 32px;
    }

}

.program-banner__logo:first-child {
    margin-right: 64px;

    @include mediaTablet {
        margin-right: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-right: k(64);
    }
}

.program-banner__logo {
    margin-right: 53px;
    flex-shrink: 0;

    @include mediaTablet {
        margin-right: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-right: k(53);
    }
}

.program-banner-aside {
    margin-right: 67px;
    padding-top: 38px;
    padding-bottom: 39px;
    padding-left: 61px;
    width: 415px;
    border-left: 1px solid #fff;

    @media (max-width: 1200px) {
        margin-right: 25px;
        padding-left: 25px;
        width: 300px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-right: k(67);
        padding-top: k(38);
        padding-bottom: k(39);
        padding-left: k(61);
        width: k(415);
    }
}

.program-banner__subtitle {
    margin-bottom: 11px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(11);
        font-size: k(20)
    }
}

.program-banner-aside__item+.program-banner-aside__item {
    margin-top: 40px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(40);
    }
}

.program-banner-aside__item p {
    color: #FFF;
    font-size: 24px;
    line-height: 34px;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(24);
        line-height: k(34);
    }
}

.program-banner-mob {
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.program-banner-mob .breadcrumbs__list {
    margin-bottom: 0;
}

.program-banner__subtitle-mob {
    color: #FFF;
    font-size: 14px;
    line-height: 1.2;
}

.program-banner__subtitle-mob span {
    color: #FFF;
    font-weight: 600;
}

.program-banner__subtitle-mob+.program-banner__subtitle-mob {
    margin-top: 20px;
}

.program-banner-btns-mob {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.program-banner-mob .btn-program {
    width: 350px;

    @media (max-width: 498px) {
        width: 100%;
    }
}

.program-banner .fade-block {
    background: rgba(27, 40, 106, 0.50);
}

.program-banner .modal-window {
    background: rgba(27, 40, 106, 0.50);

    @media (max-width: 550px) {
        padding: 100px 0;
    }

    @include mediaMobileS {
        width: 100%;
    }
}

.program-banner .btn-subscribe {
    display: none;

    @include mediaMobile {
        display: inline-flex;
        width: 100%;
    }
}