.programs-inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.programs-inner .title-group {
    margin-top: 40px;
}

.title-group-mob {
    display: none;
}

.programs-inner-content {
    padding-top: 45px;
    display: flex;
    gap: 86px;
}


.programs-inner-block {
    margin-top: 38px;
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include mediaTablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mediaMobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-right: 60px;
    flex-shrink: 0;
}