.program-banner {
    background: linear-gradient(90deg, #686A6D 0%, #A8ADB8 100%);
}

.program-banner-wrapper {
    display: flex;
}

.program-banner__title {
    color: #FFF;
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.499px;
}