.program-banner {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #686A6D 0%, #A8ADB8 100%);

    @include mediaTablet {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}

.program-banner-wrapper {
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
        display: none;
    }
}

.program-banner-col {
    width: 627px;
}

.program-banner-col .breadcrumbs__list {
    margin-bottom: 0;
}

.program-banner__title {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 40px;

    color: #FFF;
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.499px;

    @include mediaTablet {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 28px;
        letter-spacing: -0.216px;
    }
}

.border {
    display: inline-block;
    position: relative;
    padding-right: 20px;

    @include mediaTablet {
        padding-right: 0;
    }
}

.border::after {
    content: '';
    bottom: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 5px;
    z-index: -1;

    @include mediaTablet {
        bottom: 4px;
        height: 3px;
        border-radius: 3px;
    }

}

.program-banner__price {
    margin-bottom: 136px;

    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;

    @include mediaTablet {
        margin-bottom: 32px;
        font-size: 18px;
    }
}

.program-banner__price span {
    font-weight: 600;
}

.program-banner-btns {
    margin-bottom: 70px;
    display: flex;
    gap: 15px;
}

.program-banner-logos {
    display: flex;
    align-items: center;

    @include mediaTablet {
       margin-top: 32px;
       margin-bottom: 32px;
    }

}

.program-banner__logo:first-child {
    margin-right: 64px;

    @include mediaTablet {
        margin-right: 16px;
    }
}

.program-banner__logo {
    margin-right: 53px;
    flex-shrink: 0;

    @include mediaTablet {
        margin-right: 16px;
    }
}

.program-banner-aside {
    margin-right: 67px;
    padding-top: 38px;
    padding-bottom: 39px;
    padding-left: 61px;
    width: 415px;
    border-left: 1px solid #fff;

    @media (max-width: 1200px) {
        margin-right: 25px;
        padding-left: 25px;
        width: 300px;
    }
}

.program-banner__subtitle {
    margin-bottom: 11px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.program-banner-aside__item+.program-banner-aside__item {
    margin-top: 40px;
}

.program-banner-aside__item p {
    color: #FFF;
    font-size: 24px;
    line-height: 34px;
}

.program-banner-mob {
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.program-banner-mob .breadcrumbs__list {
    margin-bottom: 0;
}

.program-banner__subtitle-mob {
    color: #FFF;
    font-size: 14px;
    line-height: 1.2;
}

.program-banner__subtitle-mob span {
    color: #FFF;
    font-weight: 600;
}

.program-banner__subtitle-mob + .program-banner__subtitle-mob {
    margin-top: 20px;
}

.program-banner-btns-mob {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.program-banner-mob .btn-program {
    width: 350px;

    @media (max-width: 498px) {
        width: 100%;
    }
}