.programs-inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.programs-inner .title-group {
    margin-top: 40px;

    @include mediaMobile {
        display: none;
    }
}

.programs-inner .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @include mediaMobile {
        display: flex;
    }
}

.programs-inner .title-group-mob .back-title {
    font-size: 39px;
}

.programs-inner-content {
    padding-top: 45px;
    display: flex;
    gap: 86px;

    @media (max-width: 899px) {
        padding-top: 16px;
    }
}

.programs-inner-content .select-wrapper {
    @media (max-width: 899px) {
        display: none;
    }
} 

.programs-inner-content .filter-result {
    @include mediaTablet() {
        display: block;
    }

    @include mediaMobile {
        font-size: 14px;
    }
}

.programs-inner-block {
    margin-top: 38px;
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1364px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 899px) {
        margin-top: 16px;
    }

    @media (max-width: 588px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-right: 60px;
    flex-shrink: 0;

    @include mediaTablet {
        display: none;
    }
}