.program-content {
    padding-top: 50px;
    padding-bottom: 212px;
    background-color: #F3F4F7;

    @include mediaLaptop {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @include mediaTablet {
        padding-top: 0;
        background-color: #fff;
    }
}

.program-content .title-program {
    margin-bottom: 40px;

    @include mediaTablet {
        display: none;
    }
}


.program-content-list {
    width: 1182px;

    @media (max-width: 1380px) {
        width: 100%;
    }

    @include mediaTablet {
        display: none;
    }

}

.program-content-list li p {
    padding-right: 210px;
    color: #353F4B;
    font-size: 20px;
    line-height: 27.3px;
}

.program-content-list li {
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 2px;
    border-top: 1px solid rgba(53, 63, 75, 0.30);
}

.program-content-list li:first-child {
    padding-top: 16px;
    padding-bottom: 16px;
}

.program-content .title-program-mob {
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.program-content__text-mob {
    display: none;
    margin-bottom: 24px;
    margin-top: 24px;
    color: #353F4B;
    font-size: 14px;
    line-height: normal;

    @include mediaTablet {
        display: block;

    }
}

.program-content-checklist-mob {
    margin-bottom: 23px;
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.program-content-checklist-mob p {
    color: #353F4B;
    font-size: 14px;
    line-height: normal;
}

.program-content-checklist-mob li {
    position: relative;
    padding-left: 15px;
}

.program-content-checklist-mob li:not(:last-child) {
    margin-bottom: 12px;
}

.program-content-checklist-mob li::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: var(--accent-color);
    border-radius: 50%;
    top: 3px;
    left: -5px;
}

.program-content-list-mob {
    display: none;

    @include mediaTablet {
        display: block;
        width: 620px;
    }

    @media (max-width: 665px) {
        width: 100%;
    }
}

.program-content-list-mob li p {
    color: #353F4B;
    font-size: 14px;
    line-height: 15.39px;
}

.program-content-list-mob li {
    padding-top: 13px;
    padding-bottom: 12px;

    border-radius: 1px;
    border-top: 0.55px solid rgba(53, 63, 75, 0.30);
}