.programs {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;

    @include mediaTablet {
        padding-top: 40px;
        padding-bottom: 60px;
      }
}

.programs .btn-icon {
    @media (max-width: 1388px) {
        display: none;
}
}

.programs .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
}
}

.programs .back-title {
    @media (max-width: 460px) {
        font-size: 39px;
    }
}

