.service-inner {
    padding-top: 60px;
    padding-bottom: 90px;

    @include mediaTablet {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(60);
        padding-bottom: k(90);
    }
}

.service-inner .section-title {
    margin-top: 32px;
    margin-bottom: 20px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(32);
        margin-bottom: k(20);
    }
}

.service-inner-content {
    margin-bottom: 40px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
    }
}

.service-inner-content p {
    color: #353F4B;
    font-size: 24px;
    line-height: 1.4;

    @include mediaMobile {
        font-size: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(24);
    }
}

.service-inner-content p+p {
    padding-top: 30px;

    @include mediaMobile {
        padding-top: 20px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(30);
    }
}

.service-list {
    padding-left: 27px;
    margin-bottom: 50px;

    @include mediaMobile {
        padding-left: 15px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-left: k(27);
        margin-bottom: k(50);
    }
}

.service-list li {
    position: relative;
    font-size: 24px;

    @include mediaMobile {
        font-size: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(24);
    }

}

.service-list li:not(:last-child) {
    margin-bottom: 32px;

    @media (max-width: 1200px) {
        margin-bottom: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(32);
    }
}

.service-list li::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    background: var(--accent-color);
    border-radius: 50%;
    top: 10px;
    left: -27px;

    @include mediaMobile {
        width: 6px;
        height: 6px;
        top: 13px;
        left: -15px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(11);
        height: k(11);
        top: k(10);
        left: k(-27);
    }
}

.service-list li p {
    color: #353F4B;
    line-height: 32px;

    @media(min-width:1400px) and (max-width: 1919px) {
        line-height: k(32);
    }
}

.service-inner .fade-block {
    background: rgba(27, 40, 106, 0.50);
}

.service-inner .modal-window {
    background: rgba(27, 40, 106, 0.50);

    @media (max-width: 550px) {
        padding: 100px 0;
    }
    @include mediaMobileS {
        width: 100%;
    }
}

.service-inner .btn-subscribe {
    display: none;

    @include mediaMobile {
        display: inline-flex;
        width: 100%;
    }
}



