.services-inner {
    padding-top: 60px;
    padding-bottom: 90px;
}

.services-inner .title-group {
  
    @include mediaMobile {
        display: none;
    }
}


.services-inner .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @include mediaMobile {
        display: flex;
    }
}

.services-inner .form-group-title {
    @include mediaMobile {
        display: none;
    }
}

.services-inner .form-group-title-mob {
    display: none;
    margin-bottom: 12px;
    color: #989FA7;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.24px;


    @include mediaMobile {
        display: block;
    }
}