.services {
    padding-top: 107px;

    @include mediaTablet {
        padding-top: 60px;
    }
}

.form-wrapper {
    display: flex;
    gap: 18px;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.services .form-wrapper {
    @include mediaMobile {
        gap: 0;
        margin-top: 11px;
    }
}

.services .form-wrapper .form-group {
    @include mediaMobile {
        margin-bottom: 0;
    }
}

.services .btn-icon-mob {
    display: none;

    @media (max-width: 1388px) {
        display: inline-flex;
        margin-top: 35px;
    }

    @include mediaMobile {
        margin-top: 18px;
    }
}

.services .title-group {
    @media (max-width: 435px) {
        display: none;
    }
}

.services .title-group-mob {
    display: none;
    position: relative;
    padding-top: 75px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-top: 22px;

    @media (max-width: 435px) {
        display: flex;
    }
}