.service-inner {
    padding-top: 60px;
}

.service-inner .section-title {
    margin-top: 32px;
    margin-bottom: 20px;
}

.service-inner-content p {
    color: #353F4B;
    font-size: 24px;
    line-height: 1.4;
}