.service-inner {
    padding-top: 60px;
}

.service-inner .section-title {
    margin-top: 32px;
    margin-bottom: 20px;
}

.service-inner-content {
    margin-bottom: 40px;
}

.service-inner-content p {
    color: #353F4B;
    font-size: 24px;
    line-height: 1.4;

    @include mediaMobile {
        font-size: 16px;
    }
}

.service-inner-content p+p {
    padding-top: 30px;

    @include mediaMobile {
        padding-top: 20px;
    }
}

.service-list {
    padding-left: 27px;
    margin-bottom: 50px;

    @include mediaMobile {
        padding-left: 15px;
    }
}

.service-list li {
    position: relative;
    font-size: 24px;

    @include mediaMobile {
        font-size: 16px;
    }


}

.service-list li:not(:last-child) {
    margin-bottom: 32px;

    @media (max-width: 1200px) {
        margin-bottom: 16px;
    }
}

.service-list li::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    background: var(--accent-color);
    border-radius: 50%;
    top: 10px;
    left: -27px;

    @include mediaMobile {
        width: 6px;
        height: 6px;
        top: 13px;
        left: -15px;
    }
}

.service-list li p {
    color: #353F4B;
    line-height: 32px;
}