.sign-up {
    padding-top: 94px;
    padding-bottom: 100px;
}

.sign-up-title {
    margin-bottom: 24px;

    color: #353F4B;
    font-size: 48px;
    font-weight: 800;
    line-height: 66px;
}

.sign-up-wrapper {
    display: flex;
    gap: 160px;
    padding-left: 140px;
}

.sign-up-content {
    width: 820px;
}

.sign-up-subtitle {
    margin-bottom: 24px;
    color: #353F4B;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
}