.sign-up {
    padding-top: 94px;
    padding-bottom: 100px;

    @include mediaMobile {
        padding-top: 24px;
        padding-bottom: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(94);
        padding-bottom: k(100);
    }
}

.sign-up-title {
    margin-bottom: 24px;

    color: #353F4B;
    font-size: 48px;
    font-weight: 800;
    line-height: 66px;

    @include mediaTablet {
        font-size: 26px;
        line-height: 1;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(24);
        font-size: k(48);
        line-height: k(66);
    }
}

.sign-up-wrapper {
    display: flex;
    gap: 160px;
    padding-left: 140px;

    @media (max-width: 1700px) {
        padding-left: 100px;
        gap: 60px;
    }

    @media (max-width: 1199px) {
        padding-left: 0;
        gap: 0px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(160);
        padding-left: k(140);
    }
}

.sign-up-content {
    width: 820px;

    @media (max-width: 1199px) {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(820);
    }
}

.sign-up-contacts {
    @include mediaMobile {
        display: none;
    }
}

.sign-up-subtitle {
    margin-bottom: 24px;
    color: #353F4B;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;

    @include mediaMobile {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(24);
        font-size: k(22);
        line-height: k(28);
    }
}
