.target {
    padding-top: 110px;
    padding-bottom: 109px;

    @include mediaTablet {
        padding-top: 0px;
        padding-bottom: 60px;
    }
}

.target-content {
    max-width: 1100px;
    width: 100%;
}

.target-content .title-program {
    margin-bottom: 40px;
}

.target__subtitle {
    margin-bottom: 8px;

    color: var(--title-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;

    @include mediaTablet {
        font-size: 16px;
        line-height: 21px;
    }
}

.target__text {
    margin-bottom: 24px;
    color: #353F4B;
    font-size: 18px;
    line-height: 20px;

    @include mediaTablet {
        font-size: 14px;
        line-height: normal;
    }
}

.target__text:last-child {
    margin-bottom: 0;
}