.thankyou3 {
    padding-top: 161px;
    padding-bottom: 444px;
    padding-left: 140px;

    @include mediaTablet {
     padding-top: 100px;
     padding-left: 50px;
     padding-bottom: 100px;
    }
}

.thankyou3__title {
    margin-bottom: 40px;
}

.thankyou3__headline {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}

.thankyou3__text {
    margin-bottom: 48px;
}

.thankyou3__text p {
    color: #353F4B;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.thankyou3-content {
    display: flex;
    gap: 65px;

    @include mediaMobile {
        flex-direction: column;
        gap: 44px;
    }
}