.thankyou3 {
    padding-top: 161px;
    padding-bottom: 444px;

    @include mediaTablet {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(161);
        padding-bottom: k(444);
    }

}

.thankyou3-col {
    width: 835px;

    @include mediaTablet {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(835);
    }
}

.thankyou3__title {
    margin-bottom: 40px;

    @include mediaTablet {
        margin-bottom: 20px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
    }
}

.thankyou3__headline {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;

    @include mediaTablet {
        color: #353F4B;
        font-size: 26px;
        line-height: 1;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(48);
    }
}

.thankyou3__text {
    margin-bottom: 48px;

    @include mediaTablet {
        margin-bottom: 30px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(48);
    }
}

.thankyou3__text p {
    color: #353F4B;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;

    @include mediaTablet {
        font-size: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(28);
    }
}

.thankyou3-content {
    display: flex;
    gap: 65px;

    @media (max-width: 1279px) {
        flex-direction: column;
        gap: 44px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(65);
    }
}

.thankyou3-links-item {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    @include mediaTablet {
        margin-bottom: 18px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(32);
        gap: k(16);
    }
}

.thankyou3-links-item span {
    color: #353F4B;
    font-size: 24px;
    line-height: 1.75;

    @include mediaTablet {
        font-size: 16px;
        line-height: 1.7;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(24);
    }
}

.thankyou3-links-item img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;

    @include mediaTablet {
        width: 32px;
        height: 32px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(48);
        height: k(48);
    }
}