.thankyou3 {
    padding-top: 161px;
    padding-bottom: 444px;
    padding-left: 140px;
}

.thankyou3__title {
    margin-bottom: 40px;
}

.thankyou3__headline {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}