.thankyou2 {
    padding-top: 41px;
    padding-bottom: 70px;

    @include mediaMobile {
        padding-top: 64px;
        padding-bottom: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(41);
        padding-bottom: k(70);
    }
}