.thankyou-programs {
    padding-bottom: 70px;
}

.thankyou-title {
    margin-bottom: 32px;
    color: #0D1B3D;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;

    @include mediaMobile {
        font-size: 16px;
        text-align: left;
    }
}

.thankyou-programs-slider {
    margin-bottom: 40px;

    @include mediaMobile {
        margin-bottom: 32px;
    }
}

.thankyou-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}