section.about
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link О нас
        .title-group.title-group--center
            p.back-title Кто мы
            h2.section-title О нас 
        .title-desc-wrapper 
            .title-desc
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaeab illo inventore.     
        .about__img
            img(src="./img/about-bg.webp" alt="about img")
        .about__content 
            p Центр защиты бизнеса – площадка для коммуникации бизнеса и правоохранительных органов. Цель создания данной инициативы заключается в улучшении механизмов защиты предпринимателей в уголовном процессе, предотвращении незаконного давления на них, разработке предложений по назначению наказаний, установлении партнерства между бизнесом и пенитенциарной системой, повышении эффективности исполнения судебных решений и улучшении процедур принудительного исполнения, а также защите интересов сторон, участвующих в исполнительном производстве.
        
        
