section.about 
    .container 
        .about__title 
            h2.h2 О кондитере
        .about__content 
            .about__text
                p Меня зовут Ваитор, я профессиональный повар-кондитер. Более 15 лет я работаю в ведущих кондитерских Москвы. 3 года назад открыл собственное производство.
                p Создаю не только красивые, но и очень вкусные торты, пирожные, капкейки. А ваши фантазия и вдохновение помогают становится им настоящими произведениями искусства.
                p Вы можете быть уверены, что при изготовлении вашего неповторимого торта, используются только натуральные ингредиенты, свежие ягоды и фрукты.
            .about__img 
                img(src="./img/portrait.webp")
        