section.about-education
    .container
        .about-education-content
            .about-education-col
                p.back-title Обучение
                h2.section-title Образовательная деятельность
                .about-education__text
                    p We understand our roles and responsibilities as your white label partner quite well, and we are committed to offering you unmatched support as your white label web design partner. We offer you top-notch private label services and can also brand a final product with your logo, if that is We offer you top-notch private label services and can also brand a final product with your logo, if that is           
            .about-education__img 