section.about-program
    .container
        .about-program-wrapper 
            .about-program-col
                p.block-info Главная /
                span  Образовательные программы
                h1.about-program__title  Медиация. Базовый уровень
                p Стоимость: 72 000 руб.
                .about-program-btns 
                    a(href="").btn-subsribe Записаться
                    a(href="").btn-subsribe Задать вопрос
                    a(href="").btn-subsribe Посмотреть программу
                .about-program-logos
                    img(src="./img/program/logo1.webp" alt="logo")
                    img(src="./img/program/logo2.webp" alt="logo")
                    img(src="./img/program/logo3.webp" alt="logo")
            .about-program-aside
                .about-program__subtitle Cтарт курса
                p 25.09.2023
                .about-program__subtitle Продолжительность
                p 264 ак.ч. (3 месяца)
                .about-program__subtitle Формат обучения
                p Онлайн
                .about-program__subtitle Документ
                p Удостоверение о повышении квалификации
                .about-program__subtitle Режим занятий
                p пн., ср., пят.: с 19.00 – 22.00, суб. с 9.00 – 17.10.


