section.about
    .container
        p.about__info Главная /
            span  Новости
        .title-group
            p.back-title Эксперты
            h2.section-title Координационный совет    
        
        
