section.about-experts 
    .container
        .about-experts-content
            .about-education__img 
            .about-experts-col
                p.back-title Профессионалы
                h2.section-title Choose the 
                    span Right White 
                    p Choose the
                .about-education__text
                    p We understand our roles and responsibilities as your white label partner quite well, and we are committed to offering you unmatched support as your white label web design partner. We offer you top-notch private label services and can also brand a final product with your logo, if that is We offer you top-notch private label services and can also brand a final product with your logo, if that is