section.advantages 
    .container.container-program 
        .advantages-wrapper 
            .advantages-content
                h2.section-title.title-program #[span Генеральный директор]  
                    br
                    | помогает брендам общаться с аудиторией
                p.advantages-text Приобретаемый навык: достижение консенсуса с оппонентом, разрешение конфликта, Правильная фиксация достигнутых договоренностей.
                p.advantages-text-mob Дизайнеру важно не только владеть программами, но и умело использовать визуальный язык, чтобы привлечь внимание к продукту и точно передать идею.
                p.advantages-text-mob На курсе вы изучите теорию дизайна, освоите практические навыки и создадите портфолио из проектов, которые будут отражать ваш уникальный стиль.
            .advantages__img
                img(src="./img/program/advantages-img.webp")