section.articles
    .container 
        .title-group
            p.back-title Научная литература
            h2.section-title Статьи
        .articles-content 
            form.articles-form#custom-form
                .form-group-title Cтатус
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item0") Не выбран
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Отрасль науки
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item0") Не выбран
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Группа специальностей
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item0") Не выбран 
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Фильтр
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item0") Не выбран
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group 
                    label
                        input(type="checkbox" name="filter1").real-checkbox 
                        span.custom-checkbox 
                        p Фильтр
                .form-group 
                    label
                        input(type="checkbox" name="filter2").real-checkbox
                        span.custom-checkbox 
                        p Фильтр
                button(class="btn btn--reset" type="reset") Cбросить фильтры
            .articles-list
                +article("tttttt")