section.article-top 
    .container 
        p.block__info Главная /
            span  Новости
        .article-top-content
            .article__img 
            include ../blocks/article-widget.pug
        .article-block
            include ../blocks/block-date.pug
            include ../blocks/block-tags.pug
            .article-tags