section.articles-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        .title-group
            p.back-title Научная литература
            h2.section-title Все статьи
        .title-group-mob 
            p.back-title Литература
            h2.section-title Cтатьи 