section.article-top 
    .container 
        p.block__info Главная /
            span  Новости
        .article-top-content
            .article__img 
            include ../blocks/article-widget.pug


        