section.articles-inner
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Cтатьи
        .title-group
            p.back-title Научная литература
            h2.section-title Все статьи
        .title-group-mob 
            p.back-title Литература
            h2.section-title Cтатьи 
        .articles-inner-content
            // form
            form.articles-form.custom-form.js-form
                label.form-group-title Cтатус
                .form-group
                    .dropdown
                        button(class="dropdown__button js-btn" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Отрасль науки
                .form-group
                    .dropdown
                        button(class="dropdown__button js-btn" type="button") 
                            span Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Группа специальностей
                .form-group
                    .dropdown
                        button(class="dropdown__button js-btn" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Фильтр
                .form-group.form-group--articles 
                    .dropdown
                        button(class="dropdown__button js-btn" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group.form-group--articles 
                    label
                        input(type="checkbox" name="filter1").real-checkbox 
                        span.custom-checkbox 
                        span.checkbox-text Фильтр
                .form-group.form-group--articles-bottom  
                    label
                        input(type="checkbox" name="filter2").real-checkbox
                        span.custom-checkbox 
                        span.checkbox-text Фильтр
                button(class="btn" type="submit") Применить 
                button(class="btn btn--reset js-reset" type="reset") Cбросить фильтр      
            // articles
            .articles-inner-wrapper 
                .select-wrapper
                    +filter("Фильтр")
                    +filter("Фильтр")
                    +btn-reset("Сбросить")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                +article-inner("Excel: простые шаги для оптимизации работы с данными", "Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…")
                include ../blocks/pagination.pug

        // mobile article-list
        button(class="btn-show-filters" type="button" data-modal-button="modal-filters") 
            span Фильтры
            img(src="./img/icons/filter.svg" alt="Фильтры")
        .articles-list
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
            +article("Stephanos. Рецензируемый мультиязычный научный журнал")
        button.btn-more-mob Показать еще
        
    //modal
    div(class="fade-block hidden" data-modal id="modal-filters")
        .modal-window
            include ../blocks/filters-mob.pug