section.articles
    .container 
        .title-group
            p.back-title Научная литература
            h2.section-title Статьи
        .articles-content 
            .articles-forms
                .form-group-title Cтатус
                .form-group
                    .dropdown
                        button.dropdown__button Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Отрасль науки
                .form-group
                    .dropdown
                        button.dropdown__button Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Группа специальностей
                .form-group
                    .dropdown
                        button.dropdown__button Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group-title Фильтр
                .form-group
                    .dropdown
                        button.dropdown__button Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") item1
                            li.dropdown__list-item(data-value="item2") item2
                            li.dropdown__list-item(data-value="item3") item3
                            li.dropdown__list-item(data-value="item4") item4
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group 
                    label
                        <input type="checkbox" name="coding-notes" class=""> Заметки
                .form-group 
                    label
                        <input type="checkbox" name="travel-notes" class=""> Тревел
            .articles-list Статьи