section.article-top 
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Новости
        .article-top-content
            .article__img.calc-width 
            include ../blocks/article-widget.pug
        .article-block
            include ../blocks/block-date.pug
            include ../blocks/block-tags.pug
            include ../blocks/article-tags.pug