section.articles-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        .title-group
            p.back-title Научная литература
            h2.section-title Все статьи
        .title-group-mob 
            p.back-title Литература
            h2.section-title Cтатьи 
        .articles-inner-content
            // form
            form.articles-form#custom-form
                label.form-group-title Cтатус
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Отрасль науки
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") 
                            span Не выбран
                        ul.dropdown__list 
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Группа специальностей
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                label.form-group-title Фильтр
                .form-group
                    .dropdown
                        button(class="dropdown__button" type="button") 
                            span Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                .form-group 
                    label
                        input(type="checkbox" name="filter1").real-checkbox 
                        span.custom-checkbox 
                        p Фильтр
                .form-group 
                    label
                        input(type="checkbox" name="filter2").real-checkbox
                        span.custom-checkbox 
                        p Фильтр
                button(class="btn" type="submit") Применить 
                button(class="btn btn--reset" type="reset") Cбросить фильтр      
            // articles
            .articles-inner-wrapper 
                .select-wrapper
                    +filter("Фильтр")
                    +filter("Фильтр")
                    +btn-reset("Сбросить")
                a.article-inner-card
                    .article-inner-card-top 
                        .article-inner-card__title Excel: простые шаги для оптимизации работы с данными
                        .article-inner-card__button
                            svg.svg-arrow-next
                                use(href="./img/spriteSvg.svg#svg-arrow-next")
                    p.article-inner-card__text Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…
                    .article-inner-card-labels
                        .article-inner-card__label Работа в ИТ
                        .article-inner-card__label Работа в ИТ
                a.article-inner-card
                    .article-inner-card-top 
                        .article-inner-card__title Excel: простые шаги для оптимизации работы с данными Excel: простые шаги для оптимизации работы с данными
                        .article-inner-card__button
                            svg.svg-arrow-next
                                use(href="./img/spriteSvg.svg#svg-arrow-next")
                    p.article-inner-card__text Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным… Разрабатывать и анализировать процедуры загрузки данных в хранилище банка из систем источников. Разрабатывать витрины данных и отчетности по данным…
                    .article-inner-card-labels
                        .article-inner-card__label Работа в ИТ
                        .article-inner-card__label Работа в ИТ
                include ../blocks/pagination.pug