section.board.none
    .container 
        .title-group
            p.back-title Эксперты
            h2.section-title Координационный совет
            +btn-icon("Все члены совета")
        include ../blocks/persons-slider.pug
        +btn-icon-mob("Все члены совета")
        include ../blocks/pagination.pug