section.board-inner 
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Статьи
        .title-group
            p.back-title Эксперты
            h2.section-title Координационный совет
        .board-wrapper 
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")