section.cases-inner
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Статьи
        .title-group
            p.back-title Результаты работы
            h2.section-title Кейсы
        .form-wrapper-inner
            .form-group-title Направление
            .form-group
                .dropdown
                    button.dropdown__button 
                        span Не выбран
                    ul.dropdown__list
                        li.dropdown__list-item(data-value="item1") Аналитика
                        li.dropdown__list-item(data-value="item2") Аналитика
                        li.dropdown__list-item(data-value="item3") Аналитика
                        li.dropdown__list-item(data-value="item4") Аналитика
                        li.dropdown__list-item(data-value="item5") Аналитика
                    input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
        .label-wrapper
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Направление направление
            label.cases-label-wrapper
                input(type="checkbox")
                span.cases-label Работа в ИТ
        .select-wrapper
            p.selected Выбранные фильтры:
            .current-filters
                +filter("Направление")
            button.btn-reset#filters-reset Сбросить
        p.filter-result Найдено:
            span  4
        .cases-inner-cards
            +case-inner("Almost 60% of searches originate from mobile version")
                p There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take
            +case-inner("Защитили интересы управляющей компании в гражданском процессе")
                p Определенный случай в краткой форме рассказывает о том, как работа и затраты компании, связанные с капитальным ремонтом, были одобрены общим собранием собственников помещений в составе комплекса. В результате этого решения, собственникам-должникам были назначены определенные суммы к оплате. Некоторые из собственников, не согласившихся с решением общего собрания, решили оспорить его в суде, считая, что два пункта решения, которые создают финансовые обязательства для собственников, причиняют им убытки.
                p По словам истцов, комплекс состоит из нескольких отдельных зданий. Проведение общего собрания собственников помещений из всех зданий было неправильным и должно привести к отмене решения. Они утверждают, что если в комплексе есть несколько зданий, то собрания должны проводиться только для собственников, у которых есть недвижимость в этих зданиях.Единый объект, указанный в ЕГРН, был признан судом, несмотря на возражения истцов. Здание комплекса не разделено на отдельные здания. 
                p Суд провел анализ документов, составленных после общего собрания, выслушал свидетелей и наших юристов и пришел к выводу: собрание проведено законно, достигнут кворум, существенных нарушений процедуры не выявлено. Подготовка и проведение собрания собственников соответствовали законодательству, голоса истцов не могли повлиять на результаты голосования, и принятое решение не причинило истцам убытков. Полная оплата произведенных работ по капитальному ремонту гарантирована клиенту, так как апелляционная инстанция выразила согласие с позицией суда первой инстанции
            +case-inner("Almost 60% of searches originate from mobile version")
                p There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take" 
            +case-inner("Almost 60% of searches originate from mobile version")
                p There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take"
        button.btn-more-mob Показать еще

           

