section.cases-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        .title-group
            p.back-title Результаты работы
            h2.section-title Кейсы
        .label-wrapper 
            .cases-label Направление
            .cases-label Работа в ИТ
            .cases-label Работа в ИТ
            .cases-label Направление направление
            .cases-label Работа в ИТ
            .cases-label Направление направление
            .cases-label Направление направление
            .cases-label Работа в ИТ
            .cases-label Направление направление
            .cases-label Направление
            .cases-label Работа в ИТ
            .cases-label Направление
            .cases-label Направление
            .cases-label Направление
            .cases-label Направление направление
            .cases-label Направление направление
            .cases-label Работа в ИТ
        .select-wrapper
            p.selected Выбранные фильтры:
            .filter 
                span Направление
                button.close-filter
                    svg.svg-icon-close 
                        use(href="./img/spriteSvg.svg#svg-icon-close")
            button.reset Cбросить
        p.filter-result Найдено:
            span 4

