section.cases
    .container.container-cases
        .title-group.cases
            p.back-title Результаты работы
            h2.section-title.cases Кейсы
            +btn-icon("Все кейсы")
        include ../blocks/cases-slider.pug
        +btn-icon-mob("Все кейсы")