section.cases
    .container 
        .title-group
            p.back-title Результаты работы
            h2.section-title Кейсы
            +btn-icon("Все кейсы")
        +case("Almost 60% of searches originate from mobile version", "There are com  find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take any extra charge for our website development. Once the website redesign is ready it's all yours. You have full ownership of the website redesign.There are companies you will find which have clauses that claim if you leave in the middle of the estimate you will be charged extra. But that's not the case with us. We don't take")
        //- include ../blocks/persons-slider.pug
        +btn-icon-mob("Все кейсы")