section.cta
    .container 
        .cta-content 
            .cta__title 
                h2.section-title Внести вклад в защиту
                    span  бизнеса
            .cta__text
                p Вы можете поддержать деятельность экспертов pro bono, которые уже не первый год помогают десяткам, сотням предпринимателей, оказавшимся в сложной ситуации. Организация этого процесса требует затрат, поэтому Ваш вклад сегодня – это возможность завтра в случае сложной ситуации обратиться к экспертам. Вы также можете стать членом клуба, который открывает доступ к эффективным бизнес-коммуникациям, регулярным мероприятиям, позволяющим которые дают полную юридическую поддержку на стадии, когда у бизнеса возникают сложности! У нас собрана самая эффективная команда экспертов: базовый пакет членства в клубе составляет всего 50 000 руб ежемесячно.
            button(class="btn-icon-support" type="button" data-modal-button="modal-service") Поддержать
                svg.svg-arrow-right 
                    use(href="./img/spriteSvg.svg#svg-arrow-right")
    div(class="fade-block hidden" data-modal id="modal-service")
        .modal-window
            include ../blocks/payment-form.pug