section.diploma 
    .container.container-program
        .diploma-wrapper 
            .diploma-content
                h2.section-title.title-program Пройдите #[span расширенный] курс
                    br
                    | «Медиация в жизни, бизнесе и с органами государственной власти»
                p.diploma__text По итогу обучения вы получите диплом о профессиональной переподготовке.
                +btn-icon("Cмотреть программу курса")
            .diploma__img
                img(src="./img/program/diploma.webp" alt="diploma") 
