section.documents 
    .container.container-program
        .documents-wrapper 
            .documents-col
                h2.section-title.title-program-inner Государственная лицензия, заключения и сертификаты
                +btn-icon("Cмотреть все")
            .documents__img