section.documents 
    .container.container-program
        .documents-wrapper 
            .documents-col
                h2.section-title.title-program-inner Государственная лицензия, заключения и сертификаты
                +btn-icon("Cмотреть все")
            .documents__imgs 
                .documents__imgs-col
                    .documents-img
                        img(src="./img/program/certificate.webp" alt="certificate" width="260px")
                    .documents-img
                        img(src="./img/program/certificate.webp" alt="certificate" width="260px")
                .documents__imgs-col
                    .documents-img
                        img(src="./img/program/certificate.webp" alt="certificate" width="260px")
                    .documents-img
                        img(src="./img/program/certificate.webp" alt="certificate" width="260px")