section.educ-experts
    .container
        .educ-experts-row
            .educ-experts-content
                .title-group 
                    p.back-title Обучение
                    h2.section-title Образовательная деятельность
                .educ-experts__text
                    p We understand our roles and responsibilities as your white label partner quite well, and we are committed to offering you unmatched support as your white label web design partner. We offer you top-notch private label services and can also brand a final product with your logo, if that is We offer you top-notch private label services and can also brand a final product with your logo, if that is           
            .educ-experts__img 
        .educ-experts-row
            .educ-experts-content
                .title-group 
                    p.back-title Профессионалы
                    h2.section-title Choose the 
                        span Right White 
                        | Choose the
                .educ-experts__text
                    p We understand our roles and responsibilities as your white label partner quite well, and we are committed to offering you unmatched support as your white label web design partner. We offer you top-notch private label services and can also brand a final product with your logo, if that is We offer you top-notch private label services and can also brand a final product with your logo, if that is           
            .educ-experts__img 