section.faq
    .container
        .title-group
            p.back-title Вопросы
            h2.section-title FAQ
        .faq-list
            div(class="faq-list-item list-header" data-name="accordeon-title")
                +faq-title("Налоговая экспертиза бизнеса и тенденции развития налогового контроля?")
            div(class="faq-list-item list-content hidden") Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta distinctio adipisci maxime tenetur voluptatem at qui.
            div(class="faq-list-item list-header" data-name="accordeon-title") Блок 2. Заголовок
            div(class="faq-list-item list-content hidden") Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta distinctio adipisci maxime tenetur voluptatem at qui.
            div(class="faq-list-item list-header" data-name="accordeon-title") Блок 3. Заголовок
            div(class="faq-list-item list-content hidden") Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta distinctio adipisci maxime tenetur voluptatem at qui.