footer.footer.none 
    .container 
        .footer__logo 
            p Центр защиты бизнеса
        .footer-content 
            .footer__contacts
                a(href="tel:89994442211").footer__contacts-tel +7 (999) 444 22 11
                a(href="mailto:mail@mail.ru").footer__contacts-mail mail@mail.ru
                .footer__contacts-copyright
                    p &copy; АНО Центр защиты бизнеса 2023
            .footer__social
                .footer__social-text
                    p Следите за нашими соц сетями:
                .footer__social-icons
                    a(href="#!").footer__social-item
                       img(src="./img/socials/telegram.svg")
                    a(href="#!").footer__social-item
                       img(src="./img/socials/vk.svg")
                    a(href="#!").footer__social-item
                       img(src="./img/socials/ok.svg")
                    a(href="#!").footer__social-item
                       img(src="./img/socials/youtube.svg")
            .footer__widgets 
                ul.footer-widget
                    li 
                        a(href="#!").footer-widgets__link Программы
                    li
                        a(href="#!").footer-widgets__link Сервисы
                    li
                        a(href="#!").footer-widgets__link Cтатьи
                ul.footer-widget
                    li
                        a(href="#!").footer-widgets__link СМИ о нас   
                    li
                        a(href="#!").footer-widgets__link Новости
                    li
                        a(href="#!").footer-widgets__link Кейсы
                ul.footer-widget
                    li
                        a(href="#!").footer-widgets__link Партнеры
                    li
                        a(href="#!").footer-widgets__link Команда