section.footer-thankyou
    .container.container-thankyou
        .footer-thankyou__content 
            p Это электронное сообщение и любые документы, приложенные к нему, содержат конфиденциальную информацию. Уведомляем Вас о том, что если это сообщение не предназначено Вам, использование, копирование, распространение информации, содержащейся в настоящем сообщении, а также осуществление любых действий на основе этой информации, строго запрещено. Если Вы получили это сообщение по ошибке, пожалуйста, сообщите об этом отправителю по электронной почте и удалите это сообщение.