section.header-banner
    .container
        .header-banner-content 
            .header-banner__title
                h1.headline АНО Центр защиты бизнеса
            .header-banner__text
                p Body Extra Large. Most fonts have a particular weight which corresponds to one of the numbers in Common weight name mapping. However some fonts, called variable fonts, can support a range of weights with a more.