header.header.none
    .container 
        .header-content 
            .header__logo
                a.logo-img
                    img(src="./img/logo.webp", alt="logo")
                a.logo-text АНО Центр защиты бизнеса
            .header-info 
                .social-icons
                    a(href="#!").social-icons__item
                        img(src="./img/socials/bluetelegram.svg", alt="telegram")
                    a(href="#!").social-icons__item
                        img(src="./img/socials/bluewhatsapp.svg", alt="whatsapp")
                a(href="tel:89994442211").contact-phone +7 (999) 444 22 11
                button.menu-burger
                    img(src="./img/icons/menu-burger-gradient.svg", alt="menu")
            .mob-info
                .social-icons-mob
                    a(href="#!").social-icons-mob__item
                        img(src="./img/socials/phone.svg", alt="phone")
                    a(href="#!").social-icons-mob__item.icon-divider
                        img(src="./img/socials/bluewhatsapp.svg", alt="whatsapp") 
                    a(href="#!").social-icons-mob__item
                        img(src="./img/socials/bluetelegram.svg", alt="telegram")
                button.menu-burger 
                    img(src="./img/icons/menu-burger.svg", alt="menu")
            ul.nav__list
                li
                    a(href="#!") Главная
                li
                    a(href="#!") О нас
                li
                    a(href="#!") Образовательные программы
                li
                    a(href="#!") Сервисы
                li
                    a(href="#!") Статьи
                li
                    a(href="#!") Команда
                li
                    a(href="#!") Кейсы
                li
                    a(href="#!") Новости
				
            
