header.header-thankyou 
    .container.container-thankyou
        .header-thankyou-content 
            a(href="index.html").logo-img-thankyou
                img(src="./img/logo.webp", alt="logo")
            a(href="index.html").logo-text-thankyou АНО Центр Защиты Бизнеса