section.header-content.none
    .container
        .header-content-wrapper
            .header-content-col
                .header-content__title 
                    h1.h1 Полезные десерты из натуральных продуктов
                .header-content__text 
                    p Приготовим и привезем за 1 день. Все товары везем в холодильнике. Работаем по Москве и Московской области.
                .header-content__btns
                    button.btn-calc Рассчитать стоимость
                    button.btn-more Подробнее
            .header-content__img 
                    img(src="./img/header-img.webp", alt="header-img")
