section.mass-media
    .container 
        .title-group
            p.back-title Новости
            h2.section-title СМИ о нас
            +btn-icon("Все статьи")
        include ../blocks/news-slider.pug
        +btn-icon-mob("Все новости")