section.mediation-diploma 
    .container.container-program
        .diploma-wrapper 
            .diploma-content
                h2.section-title.title-program Вашу квалификацию подтвердит #[span диплом]
                p.diploma__text 
                    | Мы обучаем по государственной лицензии и выдаём 
                    a(href="#!") документы установленного образца. 
                    | По итогу обучения вы получите диплом о профессиональной переподготовке.
            .diploma__img
                img(src="./img/program/diploma.webp" alt="diploma") 
