section.mediation-advantages 
    .container.container-program 
        .advantages-wrapper 
            .advantages-content
                h2.section-title.title-program #[span Генеральный директор]  
                    br
                    | помогает брендам общаться с аудиторией
                p.advantages-text Уникальный курс, который позволит Вам получить навыки эффективных переговоров и правильной фиксации их результатов как в бизнес-среде, с партнерами и контрагентами, с органами государственной власти, а также с зарубежными контрагентами.