section.modules
    .container.container-program
        h2.section-title.title-program Программа курса включает #[span 5 модулей]:

        // module
        .module
            .module__num 1
            h3.module__title Медиация. Базовый модуль.
            p.module__price Cтоимость: 72 000 Р
            ul.module__list 
                li 
                    p Приобретаемый навык: достижение консенсуса с оппонентом, разрешение конфликта, Правильная фиксация достигнутых договоренностей.
                li 
                    p Альтернативное разрешение споров: система и принципы. Преимущества внесудебного урегулирования
                li  
                    p Принципы и инструменты медиации
                li 
                    p Статус медиатора
            a(href="#!").module__link Cмотреть все темы модуля

        +module-item("2", "Самые эффективные методики переговоров и психологии в бизнесе, GR и для достижения соглашения.", "90 000 P")
            li 
                p Узнаете самые эффективные методики переговоров, сможете быстро определять психотип оппонентов, моделировать их поведение, использовать их сильные и слабые стороны. Научитесь использовать возможности конфликта и освоите методики правильного выхода из него.
            li 
                p Диагностика ценностей сторон, их «картины мира» в процессе коммуникаций
            li  
                p Характеристика психотипов, их особенности, сильные и слабые стороны, их стили поведения
            li 
                p Методы диагностики психотипов личности для эффективного прогнозирования их модели поведения