section.modules#modules
    .container.container-program
        h2.section-title.title-program Программа курса включает #[span 5 модулей]:
        
        +module-item("1", "Медиация. Базовый модуль.", "72 000 Р")
            li 
                p Приобретаемый навык: достижение консенсуса с оппонентом, разрешение конфликта, Правильная фиксация достигнутых договоренностей.
            li 
                p Альтернативное разрешение споров: система и принципы. Преимущества внесудебного урегулирования
            li  
                p Принципы и инструменты медиации
            li 
                p Статус медиатора

        +module-item("2", "Самые эффективные методики переговоров и психологии в бизнесе, GR и для достижения соглашения.", "90 000 P")
            li 
                p Узнаете самые эффективные методики переговоров, сможете быстро определять психотип оппонентов, моделировать их поведение, использовать их сильные и слабые стороны. Научитесь использовать возможности конфликта и освоите методики правильного выхода из него.
            li 
                p Диагностика ценностей сторон, их «картины мира» в процессе коммуникаций
            li  
                p Характеристика психотипов, их особенности, сильные и слабые стороны, их стили поведения
            li 
                p Методы диагностики психотипов личности для эффективного прогнозирования их модели поведения
        
        +module-item("3", "Правовые аспекты. Медиация на досудебной стадии, в процессе рассмотрения дела в суде, после вынесения судебного решения.", "29 000 P")
            li 
                p Подготовка к переговорам: тактика, стратегия и документооборот
            li 
                p Тактика и стратегия проведения переговоров, исследование позиций сторон
            li  
                p Тупики в переговорах и способы выхода из них

        +module-item("4", "Бизнес-медиация в различных сферах бизнеса и с государственными органами.", "48 000 P")
            li 
                p Изучите особенности медиативного соглашения в специализированных сферах.
            li 
                p Изучите особенности медиативного соглашения в специализированных сферах
            li  
                p Медиации при корпоративном конфликте
            li  
                p Медиация в конфликте с кредитными организациями, способы разрешения
        
        +module-item("5", "Медиация с зарубежными участниками. Фиксация договоренностей.", "48 000 P")
            li 
                p Узнаете особенности менталитета жителей Китая, Азии, Африки, особенности их правовой системы. Научатся заключать медиативные соглашения с представителями этих стран.
            li 
                p Особенности менталитета бизнесменов Китая, правовые особенности
            li  
                p Особенности менталитета бизнесменов Азии, правовые особенности юрисдикции
            li  
                p Особенности менталитета жителей Африканского континента, правовые особенности юрисдикции