section.news-inner 
    .container 
        p.block-info Главная /
            span  Новости
        .title-group
            p.back-title События
            h2.section-title Все новости
        .title-group-mob
            p.back-title События
            h2.section-title Новости
        .form-wrapper-inner
            .form-group-title Категория
            .form-group
            .dropdown
                button.dropdown__button 
                    span Не выбран
                ul.dropdown__list
                    li.dropdown__list-item(data-value="item1") Аналитика
                    li.dropdown__list-item(data-value="item2") Аналитика
                    li.dropdown__list-item(data-value="item3") Аналитика
                    li.dropdown__list-item(data-value="item4") Аналитика
                    li.dropdown__list-item(data-value="item5") Аналитика
                input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
        ul.list-group
            li.list-group-item.active(data-tab="tab-1") Лента
            li.list-group-item(data-tab="tab-2") Новости
            li.list-group-item(data-tab="tab-3") СМИ
            li.list-group-item(data-tab="tab-4") Мероприятия
            li.list-group-item(data-tab="tab-5") Видео
        div(class="card" data-tab-content id="tab-1")
            .news-wrapper 
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
                +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
            +btn-icon-mob("Показать еще")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-2")
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        div(class="card hidden" data-tab-content id="tab-3")
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        div(class="card hidden" data-tab-content id="tab-4")
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        div(class="card hidden" data-tab-content id="tab-5")
            +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")