section.news.none
    .container 
        .title-group
            p.back-title События
            h2.section-title Новости
            +btn-icon("Все новости")
        ul.list-group
            li.list-group-item(data-tab="tab-1") Лента
            li.list-group-item(data-tab="tab-2") Новости
            li.list-group-item(data-tab="tab-3") СМИ
            li.list-group-item(data-tab="tab-4") Мероприятия
            li.list-group-item(data-tab="tab-5") Видео
        div(class="card" data-tab-content id="tab-1")
            include ../blocks/news-slider.pug
            +btn-icon-mob("Все новости")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-2")
            h1 таб2
        div(class="card hidden" data-tab-content id="tab-3")
            h1 таб3
        div(class="card hidden" data-tab-content id="tab-4")
            h1 таб4
        div(class="card hidden" data-tab-content id="tab-5")
            h1 таб5