section.news
    .container 
        .title-group
            p.back-title События
            h2.section-title Новости
            +btn-icon("Все новости", "all-news.html")
        ul.list-group
            li.list-group-item.active(data-tab="tab-1") Лента
            li.list-group-item(data-tab="tab-2") Новости
            li.list-group-item(data-tab="tab-3") СМИ
            li.list-group-item(data-tab="tab-4") Мероприятия
            li.list-group-item(data-tab="tab-5") Видео
        div(class="card" data-tab-content id="tab-1")
            include ../blocks/news-slider.pug
            +btn-icon-mob("Все новости", "all-news.html")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-2")
            include ../blocks/news-slider.pug
            +btn-icon-mob("Все новости", "all-news.html")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-3")
            include ../blocks/news-slider.pug
            +btn-icon-mob("СМИ", "all-news.html")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-4")
            include ../blocks/news-slider.pug
            +btn-icon-mob("Все мероприятия", "all-news.html")
            include ../blocks/pagination.pug
        div(class="card hidden" data-tab-content id="tab-5")
            include ../blocks/news-slider.pug
            +btn-icon-mob("Все видео", "all-news.html")
            include ../blocks/pagination.pug