section.news
    .container 
        .title-group
            p.back-title События
            h2.section-title Новости
            +btn-icon("Все новости")
        +news("Lorem Ipsum has been the industry's standard dummy text ever", "28.09.2023", "Обучение", "Обучение")
        //- include ../blocks/programs-slider.pug
        +btn-icon-mob("Все новости")