section.news
    .container 
        .title-group
            p.back-title События
            h2.section-title Новости
            +btn-icon("Все новости")
        include ../blocks/news-slider.pug
        +btn-icon-mob("Все новости")