section.news.none
    .container 
        .title-group
            p.back-title События
            h2.section-title Новости
            +btn-icon("Все новости")
        ul.list-group.list-group-horizontal-xl.mb-3
            li.list-group-item(data-tab="tab-1") Лента
            li.list-group-item(data-tab="tab-2") Новости
            li.list-group-item(data-tab="tab-3") СМИ
            li.list-group-item(data-tab="tab-4") Мероприятия
            li.list-group-item(data-tab="tab-5") Видео
        div(class="card p-3 hidden" data-tab-content id="tab-1")
            h1 таб1
        div(class="card p-3 hidden" data-tab-content id="tab-2")
            h1 таб2
        div(class="card p-3 hidden" data-tab-content id="tab-3")
            h1 таб3
        div(class="card p-3 hidden" data-tab-content id="tab-4")
            h1 таб4
        div(class="card p-3 hidden" data-tab-content id="tab-5")
            h1 таб5
        include ../blocks/news-slider.pug
        +btn-icon-mob("Все новости")