section.package
    .container.container-program
        h2.section-title.title-program-inner Пакет документов для участия в программе
        ul.package__list 
            li 
                p документ о высшем профессиональном образовании
            li 
                p СНИЛС
            li 
                p справку об обучении, если вы получаете высшее или среднее профессиональное образование
            li 
                p документ о смене фамилии, в случае, когда фамилия в дипломе и паспорте не совпадает
            li 
                p нострификацию документа о высшем образовании, выданного иностранным государством (включая страны СНГ)