section.partners.none
    .container 
        .title-group
            p.back-title С кем мы работаем
            h2.section-title Партнеры
        .partners-content
            img(src="./img/partners/01.webp" alt="logo")
            img(src="./img/partners/02.webp" alt="logo")
            img(src="./img/partners/03.webp" alt="logo")
            img(src="./img/partners/04.webp" alt="logo")
            img(src="./img/partners/05.webp" alt="logo")