section.person-inner 
    .container 
        p.block-info Главная /
            span  Cтатьи
        .person-content 
            .person-data
                h2 Вадим Маратович Зарипов
                p Сфера научной деятельности: Государство и право. Юридические науки: Конституционное (государственное) право; Конституционное (государственное) право; Семейное право; Семейное право; Семейное право; Трудовое право; Трудовое право; Трудовое право.
                .person-experience
                    .exp-row
                        .num 30 
                        sup лет
                    .exp-row
                        span cтаж работы
            .person-img