section.person-inner 
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Cтатьи 
        .person-content 
            .person-data
                h2.person-name Вадим Маратович Зарипов
                .person-img-mob
                p.person-experience-mob #[span Cтаж работы:] 30 лет
                p.person-activity #[span Сфера научной деятельности:] Государство и право. Юридические науки: Конституционное (государственное) право; Конституционное (государственное) право; Семейное право; Семейное право; Семейное право; Трудовое право; Трудовое право; Трудовое право.
                .person-experience
                    .exp-row
                        .num 30 
                           sup лет
                    .exp-row
                        span cтаж работы     
                h3.person-list-title Профессиональный опыт
                ul.person-list 
                    li 
                        p 01.09.2016-28.02.2017 "ФОРМУЛА КИНО", директор Департамента Маркетинга
                    li 
                        p 27.01.2015-н/в ИП Давидович Олег Георгиевич, иП Давидович Олег Георгиевич
                    li
                        p 08.11.2012-30.09.2014 "ДЕТСКИЙ МИР", член Правления - Директор Департамента Маркетинга
                    li 
                        p 10.03.2010-03.07.2012 "КОРАБЛИК", директор по маркетингу и рекламе
                    li 
                        p 08.08.2000-27.09.2006 "М.ВИДЕО", зам. Директора по маркетингу/Директор по рекламе
                    li 
                        p 03.10.1994-07.08.2000 ДЕНДИ/СТИПЛЕР, начальник отдела рекламы/Менеджер по рекламе
                h3.person-list-title Образование
                ul.person-list 
                    li 
                        p Высшее. Специалитет, Московский государственный университет им. М.В. Ломоносова: Почвоведение и агрохимия. Почвовед
                h3.person-list-title Дополнительное образование
                ul.person-list 
                    li 
                        p Повышение квалификации. Развитие бизнеса, Стокгольмская школа экономики в России, 29.11.2007
                h3.person-list-title Преподаваемые дисциплины и курсы
                ul.person-list 
                    li 
                        p Современные маркетинговые стратегии, 2017/2018
                    li 
                        p Моя Жизнь. Стратегия управления, 2021/2022
                    li 
                        p Управление рекламой, 2018/2019
                    li 
                        p Разработка и принятие стратегических решений, 2022/2023
                    li  
                        p Стратегический менеджмент, 2022/2023
                    li 
                        p Разработка и принятие управленческих решений, 2021/2022
                h3.person-list-title Членство в редколлегиях
                ul.person-list 
                    li 
                        p «Коммерческий директор» -Эксперт журнала
                h3.person-list-title Публикации и выступления в СМИ
                ul.person-list 
                    li 
                        p Коммерческий директор (Электронное издание): Как эффективно управлять временем, если вы иррационал Аналитика, 21.08.2015
                    li 
                        p Аdindex.ru: КРУПНЫЙ ПЛАН. Экспертное сопровождение, 13.01.2016
                    li 
                        p Рекрутинговая компания «ProfiStaff»: ОЛЕГ ДАВИДОВИЧ – НЕВОЗМОЖНОЕ ВОЗМОЖНО. Экспертное сопровождение, 01.01.0001
                    li 
                        p Infobank.by.: Олег Давидович: «В одном банке посчитали все СМС, которые получает клиент в месяц, и ужаснулись…» . Экспертное сопровождение, 10.01.2019    
            .person-img