section.person-inner 
    .container 
        p.block-info Главная /
            span  Cтатьи
        .person-content 
            .person-data
                h2.person-data-name Вадим Маратович Зарипов
            .person-img