section.programs-inner 
    .container 
        p.block-info Главная /
            span  Образовательные программы
        .title-group
            p.back-title Чему мы обучаем
            h2.section-title Все программы
        .title-group-mob
            p.back-title Чему мы обучаем
            h2.section-title Образовательные программы
        form.search
            input(type="text" class="search__input" placeholder="Какой курс вам нужен?")
            button.btn.search__button Найти программу
        .programs-inner-content
            .programs-inner-col
                .select-wrapper
                    p.selected Выбранные фильтры:
                    +filter("Бесплатное")
                    +btn-reset("Сбросить")
                p.filter-result Найдено:
                    span  48 
                .programs-inner-block
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")                    
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")
                    +program-inner("Название программы", "If you don’t have the time or the technical abilities to take care of your website, our maintenance packages are just what you need. Our webmasters will do all your website updates and changes for you, leaving", "29 сентября", "Бесплатно")

            aside.sidebar


        