section.program-banner
    .container
        .program-banner-wrapper 
            .program-banner-col
                ul.breadcrumbs__list 
                    li.breadcrumbs__list-item
                        a(href="index.html").breadcrumbs__link Главная
                    li.breadcrumbs__list-item
                        a(href="#!").breadcrumbs__link Образовательные программы
                h1.program-banner__title #[span.border Медиация.] Базовый уровень
                p.program-banner__price #[span Стоимость:] 72 000 руб.
                .program-banner-btns 
                    a(href="thankyou.html").btn-program Записаться
                    a(href="#!").btn-program.btn-program--blue Задать вопрос
                    a(href="#!").btn-program.btn-program--white Посмотреть программу
                .program-banner-logos
                    .program-banner__logo
                        img(src="./img/program/logo1.webp" alt="logo" width="198px")
                    .program-banner__logo 
                        img(src="./img/program/logo2.webp" alt="logo" width="193px")
                    .program-banner__logo
                        img(src="./img/program/logo3.webp" alt="logo" width="107px")
            // aside
            .program-banner-aside
                .program-banner-aside__item
                    .program-banner__subtitle Cтарт курса
                    p 25.09.2023
                .program-banner-aside__item
                    .program-banner__subtitle Продолжительность
                    p 264 ак.ч. (3 месяца)
                .program-banner-aside__item
                    .program-banner__subtitle Формат обучения
                    p Онлайн
                .program-banner-aside__item
                    .program-banner__subtitle Документ
                    p Удостоверение о повышении квалификации
                .program-banner-aside__item
                    .program-banner__subtitle Режим занятий
                    p пн., ср., пят.: с 19.00 – 22.00, суб. с 9.00 – 17.10.
        // program-banner-mob
        .program-banner-mob
            ul.breadcrumbs__list 
                li.breadcrumbs__list-item
                    a(href="index.html").breadcrumbs__link Главная
                li.breadcrumbs__list-item
                    a(href="#!").breadcrumbs__link Программы
            h1.program-banner__title #[span.border Генеральный директор:] 
                br
                | построение системы управления
            p.program-banner__price #[span Стоимость:] 80 000 руб.
            p.program-banner__subtitle-mob #[span Старт курса:] 25.09.2023
            p.program-banner__subtitle-mob #[span Продолжительность:] 264 ак.ч. (3 месяца)
            p.program-banner__subtitle-mob #[span Формат обучения:] онлайн
            p.program-banner__subtitle-mob #[span Документ:] удостоверение о повышении квалификации
            p.program-banner__subtitle-mob #[span Режим занятий:] пн., ср., пят.: с 19.00 – 22.00, суб. с 9.00 – 17.10.
            .program-banner-logos
                .program-banner__logo
                    img(src="./img/program/logo1.webp" alt="logo" width="123px")
                .program-banner__logo 
                    img(src="./img/program/logo3.webp" alt="logo" width="66px")
                .program-banner__logo
                    img(src="./img/program/logo2.webp" alt="logo" width="120px")
            .program-banner-btns-mob
                a(href="#!").btn-program Записаться
                a(href="#!").btn-program.btn-program--blue Задать вопрос
                a(href="mediation.html").btn-program.btn-program--white Посмотреть программу

            
            



