section.program-content 
    .container.container-program
        h2.section-title.title-program Программа обучения —
            br
            span  96 часов   
        ul.program-content-list 
            li 
                p Альтернативное разрешение споров: система и принципы. Преимущества внесудебного урегулирования
            li 
                p Принципы и инструменты медиации
            li  
                p Статус медиатора
            li 
                p Инструменты медиации
            li 
                p Подготовка к процедуре медиации
            li 
                p Процедура медиации. Цели и задачи медиатора на каждой стадии (фазе) процедуры медиации
            li  
                p Процедурные правила медиации, документальное сопровождение стадий процедуры
            li 
                p Медиативное соглашение: форма, правила составления, правовые и бизнес-результаты
            li 
                p Особенности онлайн медиации
                
        h2.section-title.title-program-mob Программа обучения —
            br
            span  19 месяцев
        p.program-content__text-mob 254 часа теории и 384 часа практики
        ul.program-content-checklist-mob
            li 
                p Вебинары с экспертами  — 2 раза в неделю с 18:00 МСК
            li 
                p На лекции и практические задания понадобится 8–10 часов в неделю
            li 
                p Записи вебинаров и другие полезные материалы хранятся в личном кабинете
            li 
                p На курсе вас ждёт 40% теории и 60% практики
        ul.program-content-list-mob



        