section.programs-inner 
    .container 
        p.block-info Главная /
            span  Образовательные программы
        .title-group
            p.back-title Чему мы обучаем
            h2.section-title Все программы
        .title-group-mob
            p.back-title Чему мы обучаем
            h2.section-title Образовательные программы
        form.search
            input(type="text" class="search__input" placeholder="Какой курс вам нужен?")
            button.btn.search__button Найти программу