section.programs-inner 
    .container 
        p.block-info Главная /
            span  Образовательные программы
        .title-group
            p.back-title Чему мы обучаем
            h2.section-title Все программы
        .title-group-mob
            p.back-title Чему мы обучаем
            h2.section-title Образовательные программы