section.programs
    .container 
        .title-group
            p.back-title Чему мы обучаем
            h2.section-title Образовательные программы
            +btn-icon("Все программы", "thankyou2.html")
        include ../blocks/programs-slider.pug
        +btn-icon-mob("Все программы", "all-programs.html")
        include ../blocks/pagination.pug