section.programs.none
    .container 
        .title-group
            p.back-title Чему мы обучаем
            h2.section-title Образовательные программы
            +btn-icon("Все программы")
        include ../blocks/programs-slider.pug
        +btn-icon-mob("Все программы")
        //- .programs-wrapper
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        //-     +program("Название направления", "We provide constant monitoring and repairing services to make your site active 24/7.")
        include ../blocks/pagination.pug