section.program-banner
    .container
        .program-banner-wrapper 
            .program-banner-col
                p.block-info Главная /
                span  Образовательные программы
                h1.program-banner__title #[span Медиация.] Базовый уровень
                p.program-banner__price #[span Стоимость:] 72 000 руб.
                .program-banner-btns 
                    a(href="").btn-subsribe Записаться
                    a(href="").btn-subsribe Задать вопрос
                    a(href="").btn-subsribe Посмотреть программу
                .program-banner-logos
                    img(src="./img/program/logo1.webp" alt="logo")
                    img(src="./img/program/logo2.webp" alt="logo")
                    img(src="./img/program/logo3.webp" alt="logo")
            .program-banner-aside
                .program-banner__subtitle Cтарт курса
                p 25.09.2023
                .program-banner__subtitle Продолжительность
                p 264 ак.ч. (3 месяца)
                .program-banner__subtitle Формат обучения
                p Онлайн
                .program-banner__subtitle Документ
                p Удостоверение о повышении квалификации
                .program-banner__subtitle Режим занятий
                p пн., ср., пят.: с 19.00 – 22.00, суб. с 9.00 – 17.10.


