section.program-content 
    .container.container-program
        h2.section-title.title-program Программа обучения —
            span  96 часов    
        ul.program-content-list 
            li 
                p Альтернативное разрешение споров: система и принципы. Преимущества внесудебного урегулирования
            li 
                p Принципы и инструменты медиации
            li  
                p Статус медиатора
            li 
                p Инструменты медиации
            li 
                p Подготовка к процедуре медиации
            li 
                p Процедура медиации. Цели и задачи медиатора на каждой стадии (фазе) процедуры медиации
            li  
                p Процедурные правила медиации, документальное сопровождение стадий процедуры
            li 
                p Медиативное соглашение: форма, правила составления, правовые и бизнес-результаты
            li 
                p Особенности онлайн медиации
                
        h2.section-title.title-program-mob Программа обучения —
            span  19 месяцев
        p.program-content__text-mob 254 часа теории и 384 часа практики
        ul.program-content-checklist-mob
        ul.program-content-list-mob
        