section.reviews 
    .container.container-program
        h2.section-title.title-program-inner Отзывы
            .review-card
                .review-card__text 
                    p Я хочу поделиться своими впечатлениями о курсе "Налоговая безопасность бизнеса. Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его практическая направленность. Материалы курса были усилены реальной судебной практикой, а также  примерами и ситуациями из бизнес-практики, что позволило мне лучше осознать и понять принципы налоговой безопасности. Комплексное изложение материала охватывало различные аспекты налоговой Курс самообороны", который я недавно прошла. Этот курс оказался очень полезным и информативным. Один из главных плюсов этого курса - это его
                .review-card-footer 
                    .review-card__img 
                    .review-card__name Казаковцева Нина Александровна