section.service-team
    .container
        .title-group
            p.back-title Профессионалы
            h2.section-title Команда
        .service-team-wrapper 
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")