section.services-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        .title-group
            p.back-title Наша компетенция
            h2.section-title Все сервисы
        .title-group-mob
            p.back-title Компетенция
            h2.section-title Сервисы
        .form-wrapper-inner
            .form-group-title Категория
            .form-group-title-mob Для кого
            .form-group
                .dropdown
                    button.dropdown__button 
                        span Не выбран
                    ul.dropdown__list
                        li.dropdown__list-item(data-value="item1") Аналитика
                        li.dropdown__list-item(data-value="item2") Аналитика
                        li.dropdown__list-item(data-value="item3") Аналитика
                        li.dropdown__list-item(data-value="item4") Аналитика
                        li.dropdown__list-item(data-value="item5") Аналитика
                    input(type="text" name="selet-category" value="" class="dropdown__input-hidden")