section.services.none
    .container 
        .title-group
            p.back-title Наша компетенция
            h2.section-title Сервисы
        .services-content 
            .form-group-title Для кого
            .form-wrapper
                .form-group
                    .dropdown
                        button.dropdown__button Не выбран
                        ul.dropdown__list
                            li.dropdown__list-item(data-value="item1") Аналитика
                            li.dropdown__list-item(data-value="item2") Аналитика
                            li.dropdown__list-item(data-value="item3") Аналитика
                            li.dropdown__list-item(data-value="item4") Аналитика
                            li.dropdown__list-item(data-value="item5") Аналитика
                        input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
                include ../blocks/services-slider.pug
            +btn-icon-mob("Все сервисы")