section.service-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        h2.section-title Название сервиса
        .service-inner-content 
            p Наши услуги по GR (Government Relations) сфокусированы на решении задач по совершенствованию российского законодательства в области финансового рынка, активного консультирования с заинтересованными сторонами в рамках нормативно-правового поля и представления интересов клиента во взаимодействии с регуляторами и госорганами. Наши услуги по GR (Government Relations) сфокусированы на решении задач по совершенствованию российского законодательства в области