section.services
    .container 
        .title-group
            p.back-title Наша компетенция
            h2.section-title Сервисы
        .services-content 
            .form-group-title Для кого:
            .form-group
                .select-wrapper
                    select(name="select-category" id="").select-services
                        option(value="1") Заметки путешественника
                        option(value="2") Конспекты
                        option(value="3") Фотоальбом
                        option(value="4") Дневник
                    
        //- include ../blocks/persons-slider.pug