section.services-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        .title-group
            p.back-title Наша компетенция
            h2.section-title Все сервисы
        .title-group-mob
            p.back-title Компетенция
            h2.section-title Сервисы