section.service-inner
    .container
        p.block-info Главная /
            span  Cтатьи
        h2.section-title Название сервиса
        .service-inner-content 
            p Наши услуги по GR (Government Relations) сфокусированы на решении задач по совершенствованию российского законодательства в области финансового рынка, активного консультирования с заинтересованными сторонами в рамках нормативно-правового поля и представления интересов клиента во взаимодействии с регуляторами и госорганами. Наши услуги по GR (Government Relations) сфокусированы на решении задач по совершенствованию российского законодательства в области
        ul.service-list
            li
                p 01.09.2016-28.02.2017 "ФОРМУЛА КИНО", директор Департамента Маркетинга
            li 
                p 27.01.2015-н/в ИП Давидович Олег Георгиевич, иП Давидович Олег Георгиевич
            li 
                p 08.11.2012-30.09.2014 "ДЕТСКИЙ МИР", член Правления - Директор Департамента Маркетинга
            li 
                p 10.03.2010-03.07.2012 "КОРАБЛИК", директор по маркетингу и рекламе
            li 
                p 08.08.2000-27.09.2006 "М.ВИДЕО", зам. Директора по маркетингу/Директор по рекламе
            li  
                p 03.10.1994-07.08.2000 ДЕНДИ/СТИПЛЕР, начальник отдела рекламы/Менеджер по рекламе
        button(class="btn-icon" type="button" data-modal-button="modal-service") Связаться с нами
        div(class="fade-block hidden" data-modal id="modal-service")
            .modal-window
                include ../blocks/service-form.pug