section.services-inner
    .container
        ul.breadcrumbs__list 
            li.breadcrumbs__list-item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__list-item
                a(href="#!").breadcrumbs__link Сервисы
        .title-group
            p.back-title Наша компетенция
            h2.section-title Все сервисы
        .title-group-mob
            p.back-title Компетенция
            h2.section-title Сервисы
        .form-wrapper-inner
            .form-group-title Категория
            .form-group-title-mob Для кого
            .form-group
                .dropdown
                    button.dropdown__button 
                        span Не выбран
                    ul.dropdown__list
                        li.dropdown__list-item(data-value="item1") Аналитика
                        li.dropdown__list-item(data-value="item2") Аналитика
                        li.dropdown__list-item(data-value="item3") Аналитика
                        li.dropdown__list-item(data-value="item4") Аналитика
                        li.dropdown__list-item(data-value="item5") Аналитика
                    input(type="text" name="selet-category" value="" class="dropdown__input-hidden")
        .services-cards-inner
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")
            +service-inner("Название сервиса Название сервиса", "As website redesign has evolved, functionality is not enough for buyer retention. Most website redesign projects focus on the user experience part. Keeping your relevant consumer engaged with amazing customized UX/UI ( User Interface) has become crucial. If you are familiar with a website redesign company, know the difference between good design and bad design.")