section.sign-up 
    .container
        .sign-up-wrapper
            .sign-up-content
                include ../blocks/sign-up-contacts.pug
                include ../blocks/contact-form-mob.pug
                include ../blocks/sign-up-docs.pug
            include ../blocks/course.pug
