section.sign-up 
    .container
        .sign-up-wrapper 
            .sign-up-content
                include ../blocks/sign-up-contacts.pug
                include ../blocks/sign-up-docs.pug
            .sign-up-course