section.target 
    .container.container-program
        .target-content 
            h2.section-title.title-program #[span Кому] подойдет обучение
            h3.target__subtitle Владельцу компании, который выполняет роль руководителя
            p.target__text Курс поможет наметить цели развития бизнеса, определить требования к системе управления и понять, что такое личный баланс интересов, ответственности и функций владельца и руководителя.
            h3.target__subtitle Действующему руководителю компании
            p.target__text Курс поможет систематизировать знания по управлению компанией, найти идеи для дальнего развития системы управления, познакомит с практикой управления в разных отраслях и компаниях.
            h3.target__subtitle Топ-менеджеру, который претендует на позицию генерального директора
            p.target__text Вы поймете, с какими вызовами сталкиваются первые лица компаний, сформируете набор инструментов для работы, наметите план развития компетенций для карьерного роста.