section.teachers 
    .container.container-program
        .teacher-card
            .teacher-card__img 
            .teacher-card__content
                .teacher-card__data
                    h3.teacher-card__name Марина Проскурина
                    p.teacher-card__position Графический дизайнер, руководитель проектов
                p.teacher-card__text Опыт в дизайне более 15 лет
                p.teacher-card__text Работает графическим дизайнером, занимается разработкой визуальной айдентики (фирменного стиля), созданием логотипов и иллюстраций, дизайном рекламных материалов и разработкой рекламных концепций. Регулярно проводит мастер-классы, читает лекции, выступает на вебинарах.