section.teachers 
    .container.container-program
        h2.section-title.title-program-inner Преподаватели
        include ../blocks/teachers-slider.pug
        +teacher("Марина Проскурина", "Графический дизайнер, руководитель проектов")
            p.teacher-card__text Опыт в дизайне более 15 лет
            p.teacher-card__text Работает графическим дизайнером, занимается разработкой визуальной айдентики (фирменного стиля), созданием логотипов и иллюстраций, дизайном рекламных материалов и разработкой рекламных концепций. Регулярно проводит мастер-классы, читает лекции, выступает на вебинарах.