section.team
    .container 
        .title-group
            p.back-title Профессионалы
            h2.section-title Команда
            +btn-icon("Вся команда")
        include ../blocks/persons-slider.pug
        +btn-icon-mob("Вся команда")
        include ../blocks/pagination.pug