section.team-inner
    .container 
        .title-group
            p.back-title Профессионалы
            h2.section-title Наша команда
            +btn-icon("Вся команда")
        .title-group-mob
            p.back-title Профессионалы
            h2.section-title Команда
        include ../blocks/persons-slider.pug
        +btn-icon-mob("Вся команда")
        include ../blocks/pagination.pug