section.team.none
    .container 
        .title-group
            p.back-title Профессионалы
            h2.section-title Команда
            +btn-icon("Вся команда")
        .team-wrapper
            +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")