section.team
    .container 
        .title-group
            p.back-title Профессионалы
            h2.section-title Команда
            +btn-icon("Вся команда")
    .swiper.persons-slider
        .swiper-wrapper
            .swiper-slide
                +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            .swiper-slide
                +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
            .swiper-slide
                +person("Белоусов Владимир Онисимович", "Руководитель практики решение вопросов")
        .program-slider-group
            .pagination__divider
            .program-slider-controls
                button.program-slider-prev
                    img(src="./img/icons/prev.svg", alt="Back")
                .swiper-pagination
                button.program-slider-next
                    img(src="./img/icons/next.svg", alt="Next")