section.thankyou-services 
    .container.container-thankyou
        h2.thankyou-title Пока мы обрабатываем заявку, вы можете посмотреть другие сервисы
        include ../blocks/thankyou-services-slider.pug
        .thankyou-btn
            +btn-icon("Смотреть все сервисы", "services-page.html")