section.thankyou-programs 
    .container.container-thankyou
        h2.thankyou-title Пока мы обрабатываем заявку, вы можете посмотреть другие программы обучения
        include ../blocks/thankyou-programs-slider.pug
        .thankyou-btn
            +btn-icon("Смотреть все программы", "all-programs.html")