section.thankyou3 
    .container.container-thankyou
        .thankyou3__title
            h1.thankyou3__headline Спасибо за заявку!
        .thankyou3-content 
            .thankyou3-col
                .thankyou3__text 
                    p Мы перезвоним вам в ближайшее время.
                    p Обычно это происходит в течение 15 минут. 
                .thankyou3__text
                    p Если вы не хотите ждать, можете связаться с нами по номеру 8-800-888-71-90
            .thankyou3-links 
                