section.thankyou 
    .container.container-thankyou 
        h1.thankyou__headline Спасибо за заявку!
        p.thankyou__text Вы оставляли заявку на обучение по программе «Медиация в жизни, бизнесе и с органами государственной власти». Мы свяжемся с вами в ближайшее время.
        .thankyou__contacts
            p.thankyou__contacts-item #[span ФИО:] Белоусов Владимир Онисимович
            p.thankyou__contacts-item #[span Телефон:] +79265776507
            p.thankyou__contacts-item.thankyou__contacts-item--mail #[span Email:] sovionok2003@mail.ru
        p.thankyou__check * Проверьте Ваши контактные данные, в случае ошибки - отправьте заявку повторно.
        .thankyou__social
            p.thankyou__social-text Мы в соц. сетях
            include ../blocks/social-icons-fill.pug