@font-face {
    font-family: 'Manrope';
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('../fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('../fonts/Manrope-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: var(--font-main);
  padding: 0;
  width: 100%;

  -webkit-font-smoothing: antialiased;
}

.noscroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}

.fade-block {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 40, 106, 0.50);
}

.modal-window {
  padding: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  padding: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}

.hidden {
  display: none;
}

[data-name], [data-tab] {
  cursor: pointer;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container.container-header {
  @media (min-width: 1700px) {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headline {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;

  @include mediaLaptop {
    font-size: 70px;
  }

  @include mediaTablet {
    font-size: 50px;
  }

  @include mediaMobile {
    font-size: 38px;
    line-height: 1; 
    text-transform: none;
  }
}

.title-group {
  position: relative;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;

  @media (max-width: 1260px) {
    padding-top: 30px;
  }

  @include mediaTablet {
    padding-top: 15px;
  }
}

.back-title {
  position: absolute;
  left: 150px;
  top: 0;
  z-index: 1;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.36;
  color: var(--title-smooth-color);

  @media (max-width: 1260px) {
    left: 50px;
    font-size: 50px;
  }

  @include mediaTablet {
    left: 20px;
    font-size: 30px;
    line-height: 0.8;
  }

  @media (max-width: 460px) {
    left: 0px;
  }
}

.section-title {
  position: relative;
  z-index: 2;
  font-size: 48px;
  font-weight: 800;
  line-height: 66px;
  color: var(--title-color);

  @include mediaTablet {
    font-size: 30px;
    line-height: 1;
  }

  @include mediaMobileS {
    font-size: 26px;
  }
}

.section-title span {
  color: var(--accent-color);
}

.section-title-xl {
  position: relative;
  z-index: 2;
  font-size: 61.5px;
  font-weight: 700;
  line-height: 1.12; 
  letter-spacing: -0.613px;
  color: var(--title-color);
}

.title-group--center {
  justify-content: center;
  text-align: center;
}

.title-group--center .back-title {
  left: 50%;
  transform: translateX(-50%);
}