:root {
	--container-width: 1106px;
	--container-padding: 15px;

	--font-main: "Calibri", sans-serif;

	--btn-color: #DD5514;
	--gradient: linear-gradient(180deg, #00B09B 0%, #96C93D 100%);
	--accent: #96C93D;

}