:root {
	--container-width: 1700px;

	--font-main: "Manrope", sans-serif;

	--accent-color: #FF0032;
	--btn-hover-color: #C90027;
	--btn-focus-color: #FF2D56;
	--btn-gradient: linear-gradient(180deg, #346CFF 0%, #FF0032 100%);
	--bg-header-color: #989898;
	--bg-footer-color: #1B286A;
	--bg-gradient: linear-gradient(180deg, #E84B3E 0%, #2C2762 100%);
	--title-color: #2C2762;
	--title-smooth-color: #EBEFF8;
	--btn-text-blue-color: #346CFF;

}

@media(min-width:1400px) and (max-width: 1919px) {
	:root {
	  --container-width: 88.5vw;
	}
}
  