.article-widget {
    width: 513px;

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(513);
    }
}

.article-widget__title {
    margin-bottom: 17px;
    color: var(--Black, #353F4B);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.28;

    @media (max-width: 1200px) {
        color: #292D33;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(17);
        font-size: k(24);
    }

}