.article-card {
    display: block;
    background: #fff;

    &:hover {
        .article-card__title {
            color: var(--accent-color);
    }
}

    @media (max-width: 899px) {
        padding-bottom: 12px;
		border-bottom: 1px solid #F2F3F7;
    }
}

.article-card__title {
    margin-bottom: 16px;
    color: #2C2762;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;

    @media (max-width: 1023px) {
		font-size: 20px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(16);
        font-size: k(24);
        line-height: k(24);
      }
}

.article-card-labels {
    display: flex;
    align-items: center;
    gap: 10px;

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(10);
      }
}

.article-card__label {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid rgba(98, 108, 119, 0.16);

    color: #1D2023;
    font-size: 16px;
    line-height: 34px;

    @media (max-width: 998px) {
        padding: 0 10px;
        border-radius: 3.4px;
        border: 0.85px solid rgba(98, 108, 119, 0.16);
        color: #353F4B;
        font-size: 13px;
        height: 24px;
        line-height: 17px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        height: k(36);
        padding-left: k(16);
        padding-right: k(16);
        border-radius: k(8);
        font-size: k(16);
        line-height: k(34);
       
      }
}

