.article-card {
    display: block;
    @media (max-width: 899px) {
        padding-bottom: 12px;
		border-bottom: 1px solid #F2F3F7;
    }
}

.article-card__title {
    margin-bottom: 16px;
    color: #2C2762;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;

    @media (max-width: 1023px) {
		font-size: 20px;
    }
}

.article-card-labels {
    display: flex;
    align-items: center;
    gap: 10px;
}

.article-card__label {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid rgba(98, 108, 119, 0.16);

    color: #1D2023;
    font-size: 16px;
    line-height: 34px;

    @media (max-width: 998px) {
        font-size: 14px;
        height: 24px;
        line-height: 22px;
    }
}

