.article-tags {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1200px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(8);
    }
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;

    border-radius: 4px;
    border: 1px solid rgba(98, 108, 119, 0.16);

    color: #353F4B;
    font-size: 16px;
    line-height: 1.25;
    flex-shrink: 0;

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(6);
        padding-bottom: k(6);
        padding-right: k(20);
        padding-left: k(20);
        font-size: k(16);
    }
}