.aside-menu-wrapper {
    position: fixed;
    transform: translateX(130%);
    opacity: 0;
}

.aside-menu-wrapper.active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    transform: translateX(0%);
    opacity: 1;
    transition: .3s;

}

.aside-menu {
    background-color: #fff;
    max-width: 440px;
    padding: 100px 30px 30px 38px;

    @media (min-width: 1900px) {
        max-width: 600px;
        width: 100%;
    }

    @media (max-width: 1240px) {
        padding-top: 70px;
    }
}


.aside-menu-top {
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 50px;

    @media(max-width: 1240px) {
        padding-bottom: 39px;
    }

}

.aside-menu__logo {
    display: flex;
    gap: 39px;
    align-items: center;
    margin-bottom: 53px;
    padding-right: 85px;

    @media(max-width: 1240px) {
        gap: 30.5px;
        margin-bottom: 42px;
    }

    
}

.aside-menu__social {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 28px;
}

.aside-menu__social-item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.aside-menu__social-item {
    color: #353F4B;
    font-size: 20px;
    line-height: 1.75;

    &:hover {
        color: var(--accent-color);
    }

    @media(max-width: 1240px) {
        font-size: 16px;
        line-height: 1.7;
    }
}

.nav__list {
    margin-top: 50px;

    @media(max-width: 1240px) {
        margin-top: 38.6px;
    }
}

.nav__list a {
    color: #353F4B;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28;

    &:hover {
        color: var(--accent-color);
    }

    @media(max-width: 1240px) {
        font-size: 24px;
    }
}

.nav__list li:not(:last-child) {
    margin-bottom: 32px;

    @media(max-width: 1240px) {
        margin-bottom: 25px;
    }
}

.menu-logo-img {
    width: 59px;

    @media(max-width: 1240px) {
        width: 46px;
    }
}

.menu-logo-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-logo-text {
    color: #346CFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media(max-width: 1240px) {
        font-size: 16px;
    }
}

.aside-menu-tel {
    padding-left: 10px;
    color: #353F4B;
    font-size: 20px;
    line-height: 35px;

    &:hover {
        color: var(--accent-color);
    }


    @media(max-width: 1240px) {
        font-size: 16px;
        line-height: 1.7;
    }
}