.aside-menu {
    display: none;
    padding: 20px;
    width: 440px;
    background-color: yellow;
}

.aside-menu.active {
    display: block;
    // top: 0;
    // bottom: 0;
    // left: 0;
}

.aside-menu-top {
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 50px;
}

.aside-menu__logo {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;
}

.aside-menu__social {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 33px;
}

.aside-menu__social-item {
    display: flex;
    align-items: center;
    gap: 13px;
}

a.aside-menu__social-item {
    color: #353F4B;
    font-size: 20px;
    line-height: 1.75;

    &:hover {
        color: var(--accent-color);
    }
}

.nav__list {
    margin-top: 50px;
}

.nav__list a {
    color: #353F4B;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28;

    &:hover {
        color: var(--accent-color);
    }
}

.nav__list li:not(:last-child) {
    margin-bottom: 32px;
}

.menu-logo-img img {
    width: 60px;
    object-fit: contain;

    @media(max-width: 1240px) {
        width: 46px;
    }
}

a.menu-logo-text {
    color: #346CFF;
    font-size: 18px;
    font-weight: 600;
}

a.aside-menu-tel {
    color: #353F4B;
    font-size: 20px;
    line-height: 35px;

    &:hover {
        color: var(--accent-color);
    }
}