.btn-icon {
    display: inline-flex;
   
    padding: 0 24px;
    height: 56px;

    justify-content: center;
    align-items: center;
    column-gap: 8px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(43, 37, 37, 0.12);
 
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: var(--btn-hover-color);
    }

    &:focus {
        background-color: var(--btn-focus-color);
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-left: k(24);
        padding-right: k(24);
        height: k(56);
        column-gap: k(8);
        border-radius: k(4);
        font-size: k(16);
        line-height: k(56);
      }
}