.btn-reset {
    display: inline-flex;

    padding: 0 20px;
    height: 32px;

    justify-content: center;
    align-items: center;
    column-gap: 12px;

    background-color: #FFF;

    border: 1px solid rgba(98, 108, 119, 0.16);
    border-radius: 4px;
    color: #4D4D4D;

    font-family: inherit;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;

    &:hover {
        background-color: #F8F8FF;
    }

    &:focus {
        background-color: #F8F8FF;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-right: k(20);
        padding-left: k(20);
        height: k(32);
        column-gap: k(12);
        font-size: k(16);
        line-height: k(30);
    }
}