.btn-show-more {
    margin-top: 24px;
    color: #185CFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.18px;

    &:hover {
        color: var(--accent-color);
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(24);
        font-size: k(18);
        line-height: k(24);
    }
}