.btn-more {
    display: inline-block;
   
    padding: 0 50px;
    height: 70px;
    min-width: 255px;

    border-radius: 16px;
    border: 1px solid #1D1515;

    background-color: transparent;
    
    color: #000;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.64px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}