.program-slider-prev.prevXl .svg-prev, .svg-next {
    width: 46px;
    height: 46px;
    fill: var(--accent-color);

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(46);
        height: k(46);
    }
}

.program-slider-controls.cases-controls {
    gap: 80px;

    @media (max-width: 1199px) {
        display: none;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        gap: k(80);
    }
}

.program-slider-group.center {
    justify-content: center;
}

.cases-slider .swiper-pagination {
    display: none;

    @media (max-width: 1199px) {
        display: block;
    }
}

.cases .cases-slider .swiper-wrapper {

    @include mediaMobile {
        padding-bottom: 8px;
    }
}