.cases-card {
    padding-top: 54px;
    padding-bottom: 75px;

    position: relative;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 20px;
    background-color: #F8F8FF;

    @media (max-width: 797px) {
        flex-direction: column;
    }

}

.cases-card::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0px;
    width: 8px;
    background: var(--accent-color);
    border-radius: 0 8px 8px 0;

    @media(max-width: 797px) {
        width: 0;
    }
}

.cases-card__video {
    position: relative;
    width: 362px;
    height: 204px;
    background-color: #D9D9D9;
    flex-shrink: 0;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.cases-card-desc {
    display: flex;
    flex-direction: column;
    row-gap: 30px;


    @media (max-width: 797px) {
        row-gap: 12px;
    }
}

.cases-card__title {
    padding-right: 150px;
    color: #353F4B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;

    @media (max-width: 1200px) {
        padding-right: 0;
        font-size: 28px;
    }

    @media (max-width: 998px) {
        font-size: 18px;
    }
}

.cases-card__text p {
    color: #4D4D4D;
    font-size: 18px;
    line-height: 1.5; 

    @media (max-width: 998px) {
        font-size: 14px;
    }
}

.cases-card__text p + p {
    margin-top: 15px;
}

.start-video__btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
}

.svg-play {
    height: 40px;
    width: 40px;
}

.svg-play-border {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-play-border circle {
  stroke: var(--accent-color);
  stroke-width: 3px;
  stroke-dasharray: 484;
  stroke-dashoffset: 484px;
}

.start-video__btn:hover .svg-play-border circle{
  animation: animate 3s forwards;
}

@keyframes animate{
  0% {
    stroke-dashoffset: 484px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}