.course {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 760px;
    padding-top: 40px;
    padding-left: 32px;
    border: 1px solid #F3F4F7;
    background: #F3F4F7;

    @media (max-width: 1700px) {
        display: none;
    } 
}

.course__title {
    margin-bottom: 24px;
    color: var(--title-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28;
}

.course__old-price {
    margin-bottom: 8px;
    color: #353F4B;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
}

.course__old-price span {
    text-decoration: line-through;
}

.course__price {
    margin-bottom: 40px;
    color: #353F4B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
}

.course__item:not(:last-child) {
    margin-bottom: 24px;
}

.course__item:last-child {
    margin-bottom: 40px;
}

.course__subtitle {
    margin-bottom: 11px;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.course__item p {
    color: #353F4B;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
}