.course {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 760px;
    padding-top: 40px;
    padding-left: 32px;
    border: 1px solid #F3F4F7;
    background: #F3F4F7;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(540);
        height: k(760);
        padding-top: k(40);
        padding-left: k(32);
    }

    @media (max-width: 1399px) {
        display: none;
    }

}

.course__title {
    margin-bottom: 24px;
    color: var(--title-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(24);
        font-size: k(30);
    }
}

.course__old-price {
    margin-bottom: 8px;
    color: #353F4B;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(8);
        font-size: k(26);
    }
}

.course__old-price span {
    text-decoration: line-through;
}

.course__price {
    margin-bottom: 40px;
    color: #353F4B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
        font-size: k(40);
    }
}

.course__item:not(:last-child) {
    margin-bottom: 24px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(24);
    }
}

.course__item:last-child {
    margin-bottom: 40px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(40);
    }
}

.course__subtitle {
    margin-bottom: 11px;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(11);
        font-size: k(20);
    }
}

.course__item p {
    color: #353F4B;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(24);
        line-height: k(32);
    }
}