.filters-mob {
    width: 390px;
    padding: 10px 15px 40px 15px;
}

.filters-mob-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.filters-mob__title {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.24px;
}

.articles-form.custom-form-mob {
    @media (max-width: 899px) {
		display: flex;
        flex-direction: column;
        height: calc(100vh - 150px);
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: none;
    }
}

.articles-form.custom-form-mob::-webkit-scrollbar {
    @media (max-width: 899px) {
		display: none;
    }
}

.articles-form.custom-form-mob .form-group {
    position: static;
    z-index: unset;
}

.filters-mob .btn {
    margin-top: 30px;
}

.close-btn#btn-close-filters .svg-close {
    width: 24px;
    height: 24px;
    color: #2C2762;
}

.articles-form.custom-form-mob .dropdown__button {
    width: 350px;
}

.articles-form.custom-form-mob .dropdown__list {
    width: 350px;
}