.form-group-title {
    color: #989FA7;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.select-services {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    border: 2px solid #DEE1E7;
    outline: none;
    background-color: #fff;
    color: #989FA7;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;

    padding: 16px 197px 16px 24px;
    cursor: pointer;

}

.select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./../img/icons/down.svg);
    // background-color: red;
    pointer-events: none;
}