.module {
    width: 1182px;
    padding-right: 15px;
    position: relative;

    @media (max-width: 1300px) {
        width: 100%;
    }

    @include mediaTablet {
        padding-right: 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(1182);
        padding-right: k(15);
    }
}

.module+.module {
    margin-top: 123px;

    @include mediaLaptop {
        margin-top: 60px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(123);
    }
}

.module__num {
    position: absolute;
    top: -60px;
    left: -120px;
    color: #F3F4F7;
    font-size: 305px;
    font-weight: 700;
    line-height: 1;
    z-index: -1;

    // @media (max-width: 1650px) {
    //     display: none;
    // }

    @media(min-width:1400px) and (max-width: 1919px) {
        top: k(-60);
        left: -110px;
        font-size: k(305);
    }
}

.module__title {
    margin-bottom: 16px;

    color: var(--title-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;

    @include mediaTablet {
        font-size: 20px;
        line-height: 1;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(16);
        font-size: k(40);
    }
}

.module__price {
    margin-bottom: 32px;

    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;

    @include mediaTablet {
        margin-bottom: 16px;
        color: #353F4B;
        font-size: 16px;
        line-height: 1.75;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(32);
        font-size: k(20);
    }
}

.module__list {
    margin-bottom: 24px;
    position: relative;

    @include mediaTablet {
        margin-bottom: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(24);
    }
}

.module__list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 151px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

    @include mediaTablet {
        height: 86px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        height: k(151);
    }
}

.module__list li {
    padding: 16px 0;
    border-radius: 2px;
    border-bottom: 1px solid rgba(53, 63, 75, 0.30);

    @include mediaTablet {
        padding: 12px 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(16);
        padding-bottom: k(16);
    }
}

.module__list li:last-child {
    border-bottom: 0;
}

.module__list p {
    color: #353F4B;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    @include mediaTablet {
        font-size: 14px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
    }
}

.module__link {
    color: #185CFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.18px;

    &:hover {
        color: var(--accent-color);
    }

    @include mediaTablet {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(18);
        line-height: k(24);
    }
}