.module {
    width: 1182px;
    padding-right: 15px;
    position: relative;

    @media (max-width: 1300px) {
        width: 100%;
    }

    @include mediaTablet {
        padding-right: 0;
    }
}

.module+.module {
    margin-top: 123px;

    @include mediaLaptop {
        margin-top: 60px;
    }
}

.module__num {
    position: absolute;
    top: -60px;
    left: -120px;
    color: #F3F4F7;
    font-size: 305px;
    font-weight: 700;
    line-height: 1;
    z-index: -1;

    @media (max-width: 1650px) {
        display: none;
    }
}

.module__title {
    margin-bottom: 16px;

    color: var(--title-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;

    @include mediaTablet {
        font-size: 20px;
        line-height: 1;
    }
}

.module__price {
    margin-bottom: 32px;

    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;

    @include mediaTablet {
        margin-bottom: 16px;
        color: #353F4B;
        font-size: 16px;
        line-height: 1.75;
    }
}

.module__list {
    margin-bottom: 24px;
    position: relative;

    @include mediaTablet {
        margin-bottom: 16px;
    }
}

.module__list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 151px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

    @include mediaTablet {
        height: 86px;
    }
}

.module__list li {
    padding: 16px 0;
    border-radius: 2px;
    border-bottom: 1px solid rgba(53, 63, 75, 0.30);

    @include mediaTablet {
        padding: 12px 0;
    }
}

.module__list li:last-child {
    border-bottom: 0;
}

.module__list p {
    color: #353F4B;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    @include mediaTablet {
        font-size: 14px;
    }
}

.module__link {
    color: #185CFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.18px;

    &:hover {
        color: var(--accent-color);
    }

    @include mediaTablet {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.16px;
    }
}