.news-card {
    max-width: 400px;
}

.news-card__img {
    margin-bottom: 12px;
    height: 224px;
    background-color: #D0D0D0;

    @media (max-width: 1200px) {
        height: 320px;
    }

    @media (max-width: 998px) {
        height: 280px;
    }

    @media (max-width: 480px) {
        margin-bottom: 12px;
        width: 320px;
        height: 370px;
    }
}

.news-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.news-card__title {
    margin-bottom: 16px;
    color: #212122;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    @media (max-width: 998px) {
        margin-bottom: 12px;
        font-size: 20px;
    }

    @media (max-width: 480px) {
        margin-bottom: 8px;
    }
}

.person-card__info p {
    color: #727272;
    font-size: 14px;
    line-height: 1.5;

    @media (max-width: 998px) {
        font-size: 16px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}
