.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.news-card__img {
    margin-bottom: 12px;
    background-color: #D0D0D0;
    flex-shrink: 0;
    aspect-ratio: 25/14;

    @media (max-width: 998px) {
        margin-bottom: 8px;
    }
}

.news-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.news-card__title {
    margin-bottom: 16px;
    color: #212122;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    flex-grow: 1;

    @media (max-width: 998px) {
        margin-bottom: 12px;
    }
}

.news-card__info {
    color: #727272;
    font-size: 14px;
    line-height: 1.5;
    flex-shrink: 0;
}

