.programs-slider {
   
}

.pagination-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;

    @media (max-width: 1199px) {
        display: none;
    }
}

.programs-slider .swiper-pagination {
position: absolute;
bottom: 0;
z-index: 2;
}

.pagination {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--title-color);
}

a.pagination__link {
    color: var(--title-color);

     &:hover {
        color: var(--accent-color);
    }
}

.pagination__link-active {
    color: var(--accent-color);
}

a.pagination__link .svg-prev,
a.pagination__link .svg-next {
    width: 10px;
    height: 19px;
    fill: #2C2762;

    &:hover {
        fill: #FF0032;
    }
}

.pagination-prev, .pagination-next {
    display: flex;
    align-items: center;
}

.pagination-prev {
    margin-right: 17px;
}

.pagination-next {
    margin-left: 17px;
}

.pagination__link-active {
    margin-right: 17px;
}

.pagination__ellipsis {
    margin: 0 5px;
}

   


