.persons-slider .swiper-slide {
    @media (min-width: 1200px) {
        width: calc((100% - 60px) / 4);
    }
}

.persons-slider .swiper-wrapper {
    @media (min-width: 1200px) {
        column-gap: 20px;
    }
}

.persons-slider {
    @media(max-width: 481px) { 
        width: calc(50vw + 50%);
    }
}