.price-form {
    width: 680px;
    padding: 52px 95px 142px;

    border: 4px solid #F3F4F7;
}

.price-form-title {
    margin-bottom: 20px;
    color: #353F4B;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}

.price-form .btn-subscribe {
    width: 100%;
}