.price-card {
    position: relative;
    padding: 52px 74px 72px;
    width: 50%;

    border: 1px solid #F3F4F7;
    background-color: #F3F4F7;

    color: #353F4B;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;

    @media (max-width: 1330px) {
        width: 55%;
        padding: 40px 20px 70px;
    }

    @include mediaTablet {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
}

.price-card-tarif {
    max-width: 270px;
}

.price-card__title {
    margin-bottom: 17px;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;

    @include mediaTablet {
        margin-bottom: 16px;

        color: #848D98;
        font-size: 26px;
    }
}

.price-card__old-price {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: normal;
    text-decoration: line-through;

    @include mediaTablet {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
    }
}

.price-card__old-price span {
    text-decoration: none;
}

.price-card__new-price {
    margin-bottom: 10.5px;
    font-size: 40px;
    line-height: 1.1;

    @include mediaTablet {
        margin-bottom: 6px;
        font-size: 24px;
        font-weight: 500;
    }
}

.price-card-diploma {
    margin-bottom: 34px;

    @include mediaTablet {
        margin-bottom: 32px;
    }
}

.price-card__study {
    margin-bottom: 12px;

    @include mediaTablet {
        margin-bottom: 24px;
    }

}

.price-card__installment-pay {
    margin-bottom: 8px;

    @include mediaTablet {
        margin-bottom: 6px;
    }
}

.price-card__installment-pay span {
    font-size: 50px;
    line-height: 1.05;

    @include mediaTablet {
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
    }
}


.price-card__installment-zero {
    color: var(--accent-color);
}

.price-card__plan-title {
    margin-bottom: 12px;

    @include mediaTablet {
        margin-bottom: 16px;
    }
}

.price-card__plan {
    padding-left: 21px;
    margin-bottom: 12px;

    @include mediaTablet {
        padding-left: 30px;
        margin-bottom: 16px;
    }
}


.price-card__plan li:not(:last-child) {
    margin-bottom: 8px;

    @include mediaTablet {
        margin-bottom: 4px;
    }
}

a.price-card__link {
    color: rgba(53, 63, 75, 0.80);
    font-weight: 400;

    &:hover {
        color: var(--accent-color);
    }
}

.price-card-circle {
    position: absolute;
    top: 53px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 170px;
    flex-shrink: 0;

    border-radius: 85px;
    background: rgba(255, 0, 0, 0.58);

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    @media (max-width:1170px) {
        top: 30px;
        right: 15px;
    }

    @include mediaTablet {
        width: 102px;
        height: 102px;
        border-radius: 51px;

        font-size: 10px;
        line-height: 11.4px;
    }
}

.price-card__off {
    margin-bottom: 6px;
    font-size: 42px;
    line-height: 46px;

    @include mediaTablet {
        margin-bottom: 3px;
        font-size: 24px;
        line-height: 1.15;
    }
}