.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    padding-bottom: 40px;

    @media(min-width:1400px) and (max-width: 1919px) {    
        padding-bottom: k(40);
    }
}

.swiper-slide .program-card + .program-card {
    margin-top: 20px;

    @media (max-width: 1199px) {
        margin-top: 8px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
       margin-top: k(20);

    }
}

.program-slider-group {
    margin-top: 40px;

    @media(min-width:1400px) and (max-width: 1919px) {
       margin-top: k(40);

    }
}

.pagination__divider {
    margin-right: 24px;
    width: 272px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--title-color);

    @media (max-width: 998px) {
        margin-right: 10px;
        width: 150px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
       margin-right: k(24);
       width: k(272);
       height: (2);

    }
}

.program-slider-controls .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    width: fit-content;
    flex-shrink: 0;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    @media (max-width: 998px) {
        font-size: 14px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
       font-size: k(18);

    }
}

.swiper-pagination-current {
    color: var(--accent-color);
}

.program-slider-group {
    display: flex;
    align-items: center;
}

.program-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    @media (max-width: 998px) {
        column-gap: 10px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
       column-gap: k(24);

    }

}

.program-slider-prev img, .program-slider-next img {
    width: 10px;
    height: 19px;

    @media(min-width:1400px) and (max-width: 1919px) {
       width: k(10);
       height: k(19);

    }
}

.swiper-pagination-bullet {
    width: 10px;
    height: 5px;
    border-radius: 1px;
    background: #D0D0D0;

    @media(min-width:1400px) and (max-width: 1919px) {
       width: k(10);
       height: k(5);

    }
}

.swiper-pagination-bullet-active {
    width: 42px;
    height: 5px;
    border-radius: 1px;
    background: var(--accent-color);

    @media(min-width:1400px) and (max-width: 1919px) {
       width: k(42);
       height: k(5);

    }
}

.programs-slider .swiper-slide {
    @media (min-width: 1200px) {
        width: calc((100% - 60px) / 4);
    }
}

.programs-slider .swiper-wrapper {
    @media (min-width: 1200px) {
        column-gap: 20px;
    }

    @include mediaMobile {
        padding-bottom: 30px;
    }
   
}