.program-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 680px;
    background-color: #fff;
    padding: 52px 95px;

    @include mediaTablet {
        padding: 32px 20px;
        width: 390px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(680);
        padding-top: k(52);
        padding-bottom: k(52);
        padding-left: k(95);
        padding-right: k(95);
    }
}

.program-form .close-btn {
    position: absolute;
    top: 0;
    right: -52px;
    z-index: 77;

    @media (max-width: 550px) {
        top: -40px;
        right: 20px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        right: k(-52);
    }
}

.close-btn#btn-close-contact .svg-close {
    width: 32px;
    height: 32px;
    color: #fff;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(32);
        height: k(32);
    }
}