.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    padding-bottom: 40px;
}

.swiper-slide .program-card + .program-card {
    margin-top: 20px;
}

.program-slider-group {
    margin-top: 40px;
}

.pagination__divider {
    margin-right: 24px;
    width: 272px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--title-color);

    @media (max-width: 998px) {
        margin-right: 10px;
        width: 150px;
    }
}

.program-slider-controls .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    width: fit-content;
    flex-shrink: 0;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    @media (max-width: 998px) {
        font-size: 14px;
    }
}

.swiper-pagination-current {
    color: var(--accent-color);
}

.program-slider-group {
    display: flex;
    align-items: center;
}

.program-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    @media (max-width: 998px) {
        column-gap: 10px;
    }

}

.program-slider-prev img, .program-slider-next img {
    width: 10px;
    height: 19px;
}

.program-slider-prev.prevXl .svg-prev, .svg-next {
    width: 46px;
    height: 46px;
    fill: var(--accent-color);
}

.program-slider-controls.cases-controls {
    gap: 80px;
    // left: 50%;
    // transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 5px;
    border-radius: 1px;
    background: #D0D0D0;
}

.swiper-pagination-bullet-active {
    width: 42px;
    height: 5px;
    border-radius: 1px;
    background: var(--accent-color);
}

.programs-slider .swiper-slide {
    @media (min-width: 1200px) {
        width: 270px;
    }

    @media (min-width: 1400px) {
        width: 300px;
    }
}

.programs-slider .swiper-wrapper {
    @media (min-width: 1200px) {
        column-gap: 20px;
    }
   
}