.search {
    position: relative;
}

.search__input {
    padding-left: 19px;
    padding-right: 280px;
    width: 1241px;
    height: 56px;

    border-radius: 2px 0px 0px 2px;
    border-top: 1px solid #F3F4F7;
    border-bottom: 1px solid #F3F4F7;
    border-left: 1px solid #F3F4F7;
    background: #F8F8FF;
}