.search {
    position: relative;
    max-width: 1241px;
    width: 100%;
    display: flex;
}

.search__input {
 
    padding-left: 19px;
    padding-right: 280px;
    max-width: 1241px;
    width: 100%;
    height: 56px;

    border-radius: 2px 4px 4px 2px;
    border-top: 1px solid #F3F4F7;
    border-bottom: 1px solid #F3F4F7;
    border-left: 1px solid #F3F4F7;
    background: #F8F8FF;

    color: #4D4D4D;
    font-size: 20px;
    line-height: normal;

    @include mediaMobile {
        font-size: 12px;
        padding-left: 6px;
        padding-right: 100px;
    }
}

.search__input::placeholder {
    color: #757575;
}

.btn.search__button {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: -2px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    height: 56px;

    @include mediaMobile {
        display: none;
    }
}

.search__button.search__button--mob {
    display: none;

    @include mediaMobile {
        display: inline-flex;
    }
}