.service-card {
        display: flex;
       
        padding: 16px 16px 16px 28px;
    
        // justify-content: center;
        align-items: center;
    
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);

        color: #353F4B;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.5;
        
    
    @media (max-width: 1199px) {
        box-shadow: none;
    }
}

.service-card + .service-card {
    margin-top: 20px;
}