.service-form {
    display: flex;
    flex-direction: column;
    width: 680px;
    background-color:aqua;
    padding: 52px 95px;
}

.service-form-title {
    margin-bottom: 20px;
    color: #353F4B;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}