.service-card {
    display: flex;

    padding: 16px 16px 16px 28px;
    align-items: center;

    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);

    color: #353F4B;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    
    @media (max-width: 1199px) {
        box-shadow: none;
        font-size: 16px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(16);
        padding-right: k(16);
        padding-bottom: k(16);
        padding-left: k(28);
        font-size: k(19);
    }
}

.service-card:hover {
    color: var(--accent-color);
}

.swiper-slide .service-card:not(:last-child) {
    @media (max-width: 1199px) {
        border-bottom: 1px solid #F2F3F7;
    }
}

.service-card+.service-card {
    margin-top: 20px;

    @media (max-width: 1199px) {
        margin-top: 0;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(20);
    }
}