.services-slider {
    padding: 20px;

    @media (min-width: 1200px) {
        margin-top: -20px;
    }

    @media (max-width: 479px) {
        padding: 0;
        width: calc(100% + 30px);
        margin: 0 -15px;
    }


    @media(min-width:1400px) and (max-width: 1919px) {
        padding: k(20);
        margin-top: -2.04vw;
    }

}

.services-slider .swiper-slide {
    padding: 15px;

    @media (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
        padding: 0px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding: k(15);
    }
}

.services-slider .service-card-wrapper {
    box-shadow: 0px 0px 34.826px 0px rgba(0, 0, 0, 0.05);

    @media (min-width: 1200px) {
        box-shadow: none;
    }
}

.services-slider .swiper-wrapper {
    @media (min-width: 1200px) {
        column-gap: 20px;
    }

    @include mediaMobile {
        padding-bottom: 30px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
       column-gap: k(20);

    }
}