.sign-up-contacts {
    margin-bottom: 50px;
}

.signup-contact-form {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.form-input--contacts {
    @include mediaTablet {
        height: 56px;
    }
}

.dropdown__button--contacts {
    height: 56px;
    border: 1px solid #B4B4B4;

    color: #7C7F8A;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.dropdown__button.dropdown__button--contacts:focus,
.dropdown__button.dropdown__button--contacts.dropdown__button--active {
    box-shadow: unset;
    border: 1px solid #FF0032;
}