.sign-up-contacts {
    margin-bottom: 50px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(50);
    }
}

.signup-contact-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 20px;

    @media(min-width:1400px) and (max-width: 1919px) {
        row-gap: k(24);
        column-gap: k(20);
    }
}

.signup-contact-form .form-group {
    margin-bottom: 0;
    width: 400px;

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(400);
    }
}

.form-input--contacts {
    @include mediaTablet {
        height: 56px;
    }
}

.dropdown__button--contacts {
    height: 56px;
    border: 1px solid #B4B4B4;

    color: #7C7F8A;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    @include mediaMobile {
        width: 100%;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        height: k(56);
        font-size: k(18);
    }
}

.signup-contact-form .dropdown {
    @include mediaMobile {
        width: 100%;
    }
}

.dropdown__button.dropdown__button--contacts:focus,
.dropdown__button.dropdown__button--contacts.dropdown__button--active {
    box-shadow: unset;
    border: 1px solid #FF0032;
}