.form-group--docs {
    width: 490px;

    @include mediaMobile {
        width: 100%;
    }
}

.form-group--docs .dropdown__button--contacts {
    width: 490px;

    @include mediaMobile {
        width: 100%;
    }
}

.form-fieldset {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: lightgrey; stroke-width: 2; stroke-dasharray: 16 10'/></svg>")
}

.form-fieldset__content {
    color: #7C7F8A;
    font-size: 14px;
    line-height: normal;
}

.form-fieldset__row {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    text-align: center;
    column-gap: 10px;
}

.form-fieldset__btn .form-label {
    cursor: pointer;
    color: var(--title-color);

    &:hover {
        color: var(--accent-color);
    }
}


/*КАСТОМНЫЙ ВЫБОР ФАЙЛА*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.inputfile+label {
    display: inline-block;

    color: #2C2762;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.inputfile:focus+label,
.inputfile+label:hover {
    color: var(--accent-color);
}

.fieldset-desc {
    margin-top: 8px;
    margin-bottom: 40px;
    color: #7C7F8A;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.btn--signup {
    margin-top: 54px;
    border-radius: 4px;
}

.signup-docs-form .service-form-privacy {
    width: 490px;
}