.teacher-card {
    display: flex;
    box-shadow: 0px 11.786px 35.359px 0px rgba(0, 0, 0, 0.10);

    @include mediaMobile {
        flex-direction: column;
    }
}

.teacher-card__img {
    width: 510px;
    background: #C4C4C4;
    flex-shrink: 0;

    @media (max-width: 1200px) {
        width: 40%;
    }

    @include mediaMobile {
        width: 100%;
        height: 289px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        width: k(510);
    }
}

.teacher-card__img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.teacher-card__content {
    padding: 103px 174px 105px 109px;

    @media (max-width: 1200px) {
        width: 60%;
        padding: 40px 20px 20px 40px;
    }

    @include mediaTablet {
        width: 100%;
    }

    @include mediaMobile {
        padding: 14px 19px 18px 12px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(103);
        padding-right: k(174);
        padding-bottom: k(105);
        padding-left: k(109);
    } 
}

.teacher-card__name {
    margin-bottom: 10px;

    color: var(--title-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25;

    @include mediaTablet {
        margin-bottom: 6px;

        font-size: 16px;
        line-height: 1.3;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(10);
        font-size: k(28);
    }
}

.teacher-card__position {
    margin-bottom: 18px;

    color: #353F4B;
    font-size: 18px;
    line-height: 24.7px;

    @include mediaTablet {
        margin-bottom: 10px;

        font-size: 13px;
        line-height: 14.5px; 
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(18);
        font-size: k(18);
        line-height: k(24.7);
    }
}

.teacher-card-experience {
    padding-top: 25px;
    border-top: 1.179px solid var(--Black, #353F4B);

    @include mediaTablet {
        padding-top: 13px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(25);
    }
}

.teacher-card__text {
    color: #353F4B;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    @include mediaTablet {
        font-size: 13px;
        line-height: normal;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
        line-height: k(28);
    }
}

.teacher-card__text+.teacher-card__text {
    margin-top: 12px;

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-top: k(12);
    }
}