.teachers-slider {
    // padding-top: 100px;
    padding: 100px 30px 30px 30px;
    width: calc(100% + 40px);
    margin: 0 -20px;

    @include mediaTablet {
        padding: 40px 20px 20px 20px;
        width: calc(100% + 40px);
        margin: 0 -20px;
    }

    @media (max-width: 479px) {
        padding: 20px;
    }
}

.teachers-slider .program-slider-group {
    @include mediaMobile {
        margin-top: 0;
    }
}

.teachers-slider .cases-controls {
    display: flex;

    @media (max-width: 1199px) {
        display: flex;
    }

    @include mediaMobile {
        display: none;
    }
}

.teachers-slider .swiper-pagination {
    display: none;

    @include mediaMobile {
        display: block;
    }
}