.teachers-slider {
    padding-top: 100px;

    @include mediaTablet {
        padding-top: 40px;
    }

    @include mediaMobile {
        padding-top: 17px;
    }
}

.teachers-slider .cases-controls {
    display: flex;

    @media (max-width: 1199px) {
        display: flex;
    }

    @include mediaMobile {
        display: none;
    }
}

.teachers-slider .swiper-pagination {
    display: none;

    @include mediaMobile {
        display: block;
    }
}