.teachers-slider {
    margin-top: 70px;

    @include mediaTablet {
        padding: 40px 20px 20px 20px;
        width: calc(100% + 40px);
        margin: 0 -20px;
    }

    @media (max-width: 479px) {
        padding: 20px;
    }
}

.teachers-slider .swiper-slide {
    padding: 30px;

    @include mediaTablet {
        padding: 0;
    }
}

.teachers-slider .program-slider-group {
    @include mediaMobile {
        margin-top: 0;
    }
}

.teachers-slider .cases-controls {
    display: flex;

    @media (max-width: 1199px) {
        display: flex;
    }

    @include mediaMobile {
        display: none;
    }
}

.teachers-slider .swiper-pagination {
    display: none;

    @include mediaMobile {
        display: block;
    }
}