.thankyou-program-card {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    min-height: 298px;

    border: 0.683px solid #E7E7E7;
    box-shadow: 0px 2.8px 2.8px 0px #EDEDED inset, 0px -2.8px 2.8px 0px #EDEDED inset, 2.8px 0px 2.8px 0px #EDEDED inset, -2.8px 0px 2.8px 0px #EDEDED inset;

    background: #FFF;

    &:hover {
        background: linear-gradient(180deg, rgba(232, 75, 62, 0.10) 0%, rgba(44, 39, 98, 0.10) 100%);
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        padding-top: k(32);
        padding-bottom: k(32);
        padding-left: k(16);
        padding-right: k(16);
        min-height: k(298);
    }
}

.thankyou-program-card-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 48px;
    flex-shrink: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include mediaMobile {
        margin-bottom: 18px;
        min-height: 44px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(20);
        min-height: k(48);
    }
}

.thankyou-program-card__title {
    color: #2C2762;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;

    @include mediaMobile {
        font-size: 18px;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(20);
    }

}

.thankyou-program-card__text {
    margin-bottom: 32px;
    color: #4D4D4D;
    font-size: 16px;
    line-height: 1.4;

    min-height: 110px;
    flex-shrink: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;

    @include mediaMobile {
        min-height: 132px;
        -webkit-line-clamp: 6;
    }

    @media(min-width:1400px) and (max-width: 1919px) {
        margin-bottom: k(32);
        font-size: k(16);
        min-height: k(110);
    }
}

.thankyou-program-card__start {
    margin-top: auto;
    flex-shrink: 0;
    color: #353F4B;
    font-size: 16px;
    line-height: 1.5;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(16);
    }
}

.thankyou-program-card__start span {
    color: #2C2762;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    @media(min-width:1400px) and (max-width: 1919px) {
        font-size: k(16);
    }
}