.widget + .widget {
    margin-top: 40px;
}

.widget__title {
    margin-bottom: 16px;
    color: #4D4D4D;
    font-size: 20px;
    line-height: 1.2;
}

.widget.sphere .widget__title {
    margin-bottom: 41px;
}

.widget__body .checkbox {
    display: flex;
    column-gap: 10px;
}

.checkbox-desc {
    padding-top: 3px;
    color: #4D4D4D;
    font-size: 16px;
    line-height: 1.5; 
}

.checkbox-num {
    padding-top: 3px;
    color: #8E8E8E;
    font-size: 16px;
    line-height: 1.5; 
}


.checkbox + .checkbox {
    margin-top: 16px;
}

.checkbox .custom-checkbox {
    flex-shrink: 0;
}

.checkbox.disabled .custom-checkbox {
    cursor: default;
    pointer-events: none;
    background-color: #EEE;
}

.checkbox.disabled p {
    color: #8E8E8E;
}
