mixin article-inner(title, text)
    // article-card
    a(href="article-inner.html").article-inner-card
        .article-inner-card-top 
            .article-inner-card__title #{title}
            .article-inner-card__button
                svg.svg-arrow-next
                    use(href="./img/spriteSvg.svg#svg-arrow-next")
        p.article-inner-card__text #{text}
        .article-inner-card-labels
            .article-inner-card__label Работа в ИТ
            .article-inner-card__label Работа в ИТ