mixin news(title, date, category, subcategory)
    a(href="article-inner.html").news-card
        .news-card__img 
        h4.news-card__title #{title}
        p.news-card__info #{date} /
            span  #{category} /
            span  #{subcategory}