mixin person(name, position)
    .person-card
        .person-card__img
        .person-card-row 
            .person-card__label Работа в ИТ
            //- .person-card__label Работа в ИТ
            //- .person-card__label Работа в ИТ
            //- .person-card__label Работа в ИТ
            //- .person-card__label Работа в ИТ
        h4.person-card__name #{name}
        p.person-card__position #{position}