mixin person(name, position)
    // person - card
    a(href="person.html").person-card
        .person-card__img
        .person-card-row 
            .person-card__label Работа в ИТ
        h4.person-card__name #{name}
        p.person-card__position #{position}