mixin program(title, text)
    a(href="program.html").program-card
        h3.program-card__title #{title}
        p.program-card__text #{text}
        .program-card__link
            span Подробнее
            svg.svg-arrow-right
                use(href="./img/spriteSvg.svg#svg-arrow-right")