mixin review(name)
    // review- card
    .review-card
        .review-card__text
            .scroll-wrapper
                block
        .review-card-footer 
            .review-card__img 
            .review-card__name #{name}