mixin teacher(name, position)
    .teacher-card
        .teacher-card__img 
        .teacher-card__content
            h3.teacher-card__name Марина Проскурина
            p.teacher-card__position Графический дизайнер, руководитель проектов
            .teacher-card-experience
                block