mixin thankyou-program(title, text, start)
    .thankyou-program-card
        .thankyou-program-card-top
            h4.thankyou-program-card__title #{title}
        p.thankyou-program-card__text #{text}
        p.thankyou-program-card__start Старт:
            span  #{start} 
            