mixin thankyou-service(title, text)
    // thankyou-program-card
    a(href="program.html").thankyou-service-card
        .thankyou-service-card-top
            h4.thankyou-service-card__title #{title}
        p.thankyou-service-card__text #{text}