extends ../layouts/layout.pug

block variables
	-var title = "О нас";

block content
	include ../sections/header.pug
	main
		include ../sections/team.pug
		include ../sections/mass-media.pug
		include ../sections/partners.pug
	include ../sections/footer.pug