extends ../layouts/layout.pug

block variables
	-var title = "О нас";

block content
	include ../sections/header-inner.pug
	main
		include ../sections/about.pug
		include ../sections/educ-experts.pug
		include ../sections/team.pug
		include ../sections/mass-media.pug
		include ../sections/partners.pug
	include ../sections/footer.pug