extends ../layouts/layout.pug

block variables
	-var title = "Программы";

block content
	include ../sections/header-inner.pug
	main
		include ../sections/programs-inner.pug
	include ../sections/footer.pug