extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header-top.pug
	include ../sections/header-content.pug
	include ../sections/about.pug
	
	
	

