extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	include ../sections/header-banner.pug
	include ../sections/programs.pug
	include ../sections/cta.pug
	include ../sections/board.pug
	include ../sections/cases.pug
	include ../sections/news.pug
	include ../sections/team.pug
	include ../sections/partners.pug
	include ../sections/footer.pug
	include ../sections/ui.pug

	
	
	

