extends ../layouts/layout.pug

block variables
	-var title = "Общая программа";

block content
	include ../sections/header-program.pug
	main
		include ../sections/mediation-banner.pug
		include ../sections/mediation-advantages.pug
		include ../sections/modules.pug
		include ../sections/target.pug
		include ../sections/mediation-diploma.pug
		include ../sections/teachers.pug
		include ../sections/documents.pug
		include ../sections/package.pug
		include ../sections/reviews.pug
		include ../sections/price.pug 
	include ../sections/footer.pug