extends ../layouts/layout.pug

block variables
	-var title = "Программа";

block content
	include ../sections/header.pug
	main
		include ../sections/about-program.pug
		include ../sections/advantages.pug
		include ../sections/program-content.pug
	include ../sections/footer.pug