extends ../layouts/layout.pug

block variables
	-var title = "Сервисы";

block content
	include ../sections/header-inner.pug
	main
		include ../sections/services-inner.pug
	include ../sections/footer.pug