extends ../layouts/layout.pug

block variables
	-var title = "Форма записи на курс";

block content
	include ../sections/header-inner.pug
	main
		include ../sections/sign-up.pug
	include ../sections/footer.pug