extends ../layouts/layout.pug

block variables
	-var title = "Ответ на заявку обучение";

block content
	include ../sections/header-thankyou.pug
	main
		include ../sections/thankyou.pug
		include ../sections/thankyou-programs.pug
	include ../sections/footer-thankyou.pug