extends ../layouts/layout.pug

block variables
	-var title = "Спасибо за заявку сервис";

block content
	include ../sections/header-thankyou.pug
	main
		include ../sections/thankyou2.pug
		include ../sections/thankyou-services.pug
	include ../sections/footer-thankyou.pug