include ../mixins/mixins.pug

block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="libs/swiper.min.css")
        link(rel="stylesheet", href="css/main.css")
        
        title #{title}

    body
    
        block content  

        script(src="libs/swiper.js")
        script(src="js/main.js")